{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}Mi Perfil{% endblock %}

{% block contenido %}
<div class="page-head">
	<div class="page-title">
		<h1>Mi Perfil</h1>
	</div>

	<style type="text/css">
		.alert-box {
			color:#555;
			border-radius:10px;
			font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
			padding:10px 10px 10px 36px;
			margin:10px;
		}
		.alert-box span {
			font-weight:bold;
			text-transform:uppercase;
		}
		.notice {
			background:#e9ffd9;
			border:1px solid #a6ca8a;
		}
		.page-content{
			height: 100%;
		}
	</style>

	<div class="row azulito">
		<div class="col-sm-12">
			<div id="respuesta"></div>
			<div class="col-sm-12">
				<h4 style="display: inline-block; margin-right: 10px;">Datos de Inscripción</h4>

				{% if messages %}
				{% for message in messages %}
				<div class="alert-box notice"><span>{{ message|safe }}</span></div>
				{% endfor %}
				{% endif %}

				<hr />
				<form role="form" enctype="multipart/form-data" method="post">
					<div class="form-body">
						{% if foto %}
						<img src="{{foto.url}}" width="100" />
						{% endif %}
						<div class="form-group">
							<label for="foto">Foto de Perfil</label>
							<input type="file" name="foto" />
						</div>
						<div class="form-group">
							<label>Razón Social:</label>
							<input name="nombre_empresa" class="form-control" maxlength="100" value="{{empresa}}" required readonly />
						</div>
						<div class="form-group">
							<label>RUC:</label>
							<input name="ruc" class="form-control" maxlength="11" minlength="11" value="{{ruc}}" required readonly />
						</div>
						<div class="form-group">
							<label>Direccion:</label>
							<input name="direccion" class="form-control" minlength="5" maxlength="100" value="{{direccion}}" required />
						</div>
						<div class="form-group">
							<label>Nombre del Representante:</label>
							<input name="nombre_representante" class="form-control" minlength="2" maxlength="50" value="{{nombre_representante}}" required />
						</div>
						<div class="form-group">
							<label>Apellido del Representante:</label>
							<input name="apellido_representante" class="form-control" minlength="2" maxlength="50" value="{{apellido_representante}}" required />
						</div>
						<div class="form-group">
							<label>Cargo del Representante:</label>
							<input name="cargo_representante" class="form-control" value="{{cargo_representante}}" required />
						</div>
						<div class="form-group">
							<label>Correo:</label>
							<input name="correo" class="form-control" value="{{correo}}" minlength="5" maxlength="50" type="email" required />
						</div>
						<div class="form-group">
							<label>Telefono:</label>
							<input name="telefono" class="form-control" value="{{telefono}}" minlength="5" maxlength="15" required />
						</div>
						<div class="form-group">
							<label>Nueva Contraseña:</label>
							<input name="contrasena" class="form-control" minlength="6" type="password" />
						</div>
						<div class="form-group">
							<label>Antigua Contraseña:</label>
							<input name="last_password" class="form-control" minlength="6" type="password" />
						</div>
					</div>
					<p>&nbsp;</p>

						<a href="/panel/" class="btn btn-warning">Cancelar</a>
						<button type="submit" class="btn btn-success">Guardar</button>
					<p>&nbsp;</p>
					{% csrf_token %}
				</form>
				<p>&nbsp;</p><p>&nbsp;</p>
			</div>

		</div>


	</div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
