{% extends 'base.html' %}
{% block titulo %}Detalle de Compra{% endblock %}

{% block contenido %}
<div class="page-head">
	<div class="page-title">
		<h1>Detalle de Compra</h1>
	</div>

	<style type="text/css">
		.CSSTableGenerator {
			margin:0px;padding:0px;
			width:100%;
			border:1px solid #ffffff;
			border-collapse: inherit;

			-moz-border-radius-bottomleft:12px;
			-webkit-border-bottom-left-radius:12px;
			border-bottom-left-radius:12px;

			-moz-border-radius-bottomright:12px;
			-webkit-border-bottom-right-radius:12px;
			border-bottom-right-radius:12px;

			-moz-border-radius-topright:12px;
			-webkit-border-top-right-radius:12px;
			border-top-right-radius:12px;

			-moz-border-radius-topleft:12px;
			-webkit-border-top-left-radius:12px;
			border-top-left-radius:12px;
		}.CSSTableGenerator table{
			border-collapse: collapse;
			border-spacing: 0;
			width:100%;
			height:100%;
			margin:0px;padding:0px;
		}
		.CSSTableGenerator tr:last-child td:last-child {
			-moz-border-radius-bottomright:12px;
			-webkit-border-bottom-right-radius:12px;
			border-bottom-right-radius:12px;
		}
		.CSSTableGenerator table tr:first-child td:first-child {
			-moz-border-radius-topleft:12px;
			-webkit-border-top-left-radius:12px;
			border-top-left-radius:12px;
		}
		.CSSTableGenerator table tr:first-child td:last-child {
			-moz-border-radius-topright:12px;
			-webkit-border-top-right-radius:12px;
			border-top-right-radius:12px;
		}
		.CSSTableGenerator tr:last-child td:first-child{
			-moz-border-radius-bottomleft:12px;
			-webkit-border-bottom-left-radius:12px;
			border-bottom-left-radius:12px;
		}.CSSTableGenerator tr:hover td{
			background-color:#c23c4c;


		}
		.CSSTableGenerator td{
			vertical-align:middle;

			background-color:#ffffff;

			border:1px solid #ffffff;
			border-width:0px -0px 0px 0px !important;
			text-align:center;
			padding:9px;
			font-size:12px;
			font-family:Arial;
			font-weight:normal;
			color:#000000;
		}.CSSTableGenerator tr:last-child td{
			border-width:0px 0px 0px 0px !important;
		}.CSSTableGenerator tr td:last-child{
			border-width:0px 0px 0px 0px !important;
			-moz-border-radius-topright:12px !important;
			-webkit-border-top-right-radius:12px !important;
			border-top-left-right:12px !important;

			-moz-border-radius-bottomright:12px !important;
			-webkit-border-bottom-right-radius:12px !important;
			border-bottom-right-radius:12px !important;
		}.CSSTableGenerator tr:last-child td:last-child{
			border-width:0px 0px 0px 0px;
		}
		.CSSTableGenerator tr:first-child td{
			background:-o-linear-gradient(bottom, #005074 5%, #005074 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005074), color-stop(1, #005074) );
			background:-moz-linear-gradient( center top, #005074 5%, #005074 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005074", endColorstr="#005074");	background: -o-linear-gradient(top,#005074,005074);

			background-color:#005074;
			border:0px solid #ffffff;
			text-align:center;
			border-width:0px 0px 1px 1px;
			font-size:15px;
			font-family:Arial;
			font-weight:normal;
			color:#ffffff;
		}
		.CSSTableGenerator tr td:first-child{
			border-width:0px 0px 0px 0px;

			-moz-border-radius-topleft:12px !important;
			-webkit-border-top-left-radius:12px !important;
			border-top-left-radius:12px !important;

			-moz-border-radius-bottomleft:12px !important;
			-webkit-border-bottom-left-radius:12px !important;
			border-bottom-left-radius:12px !important;
		}
		.CSSTableGenerator tr:first-child:hover td{
			background:-o-linear-gradient(bottom, #005074 5%, #005074 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005074), color-stop(1, #005074) );
			background:-moz-linear-gradient( center top, #005074 5%, #005074 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005074", endColorstr="#005074");	background: -o-linear-gradient(top,#005074,005074);

			background-color:#005074;
		}
		.CSSTableGenerator tr:first-child td:first-child{

			ctm

			border-width:0px 0px 0px 0px !important;
			-moz-border-radius-topleft:12px !important;
			-webkit-border-top-left-radius:12px !important;
			border-top-left-radius:12px !important;

			-moz-border-radius-bottomleft:12px !important;
			-webkit-border-bottom-left-radius:12px !important;
			border-bottom-left-radius:12px !important;
		}
		.CSSTableGenerator tr:first-child td:last-child{
			border-width:0px 0px 1px 1px;
			-moz-border-radius-topright:12px !important;
			-webkit-border-top-right-radius:12px !important;
			border-top-right-radius:12px !important;

			-moz-border-radius-bottomright:12px !important;
			-webkit-border-bottom-right-radius:12px !important;
			border-bottom-right-radius:12px !important;
		}
	</style>
	<style type="text/css">

	</style>




	<div class="row azulito">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<hr>
				<strong><h3>No. de Pedido: {{compra.pk}}</h3></strong>
				<br />
				<div class="CSSTableGenerator" >
					<table >
						<tr>
							<td>Codigo</td>
							<td>Servicio</td>
							<td>Local</td>
							<td>Expiracion</td>
							<td>Precio</td>
						</tr>
						{% for cd in compra.detalles %}
						<tr>							
							{% if cd.producto %}
							<td>S{{cd.producto.pk}}</td>
							<td>{{cd.producto.nombre}}</td>
							{% else %}
							<td>C{{cd.combo.pk}}</td>
							<td>
								{{cd.combo.nombre}}
								{% for pp in cd.combo.productos.all %}
									[{{pp.nombre}}]
								{% endfor %}
							</td>
							{% endif %}
							<td>
								{% if cd.local %}
									{{cd.local}}
								{% endif %}
							</td>
							<td>{{cd.expiracion}}</td>
							<td>
								{% if cd.precio != 0 %}
									${{cd.precio}}
								{% else %}
									Combo
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						<tr class="none">
							<td colspan="3"></td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td><strong>Total:</strong></td>
							<td><strong>${{compra.cantidad}}</strong></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="aviso-movil-horizontal">
				Por favor, coloca tu móvil en horizontal.
			</div>
		</div>


	</div>

</div>
{% endblock %}
