

.page-header.navbar.navbar-fixed-top, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a:hover{
	background: #ecedef;
	color: #00577A;
}
li > a > .title, .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username, .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i{
	color: #00577A;
}

.page-sidebar, .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle{
	background: #ecedef;
}
.azulito{
	color: #00577A;
}
h3 > a:hover, h3 > a{
	text-decoration: none;
	color: #00577A;
}

hr{
	border: 1px solid #F77200;
}

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;

	color: #888;
}

.ec-stars-wrapper:hover a {
	color: #f7931e;
}

.page-footer{
	background: #00577A;
}
html, body{
	min-height: 100%
}
@media (max-width: 990px) {

.page-sidebar.navbar-collapse {
    
    background: #C23C4C;
    
}

.footerimg{
	width: 100%;
}	
body{
	background: white;
}
.bemenu{
	left: 50%;
    margin-top: 20px;
}
}

@media (max-width: 390px) {
	.bmenu{
		left: 3% !important;
		margin-top: 20px;
	}
}

/*normal*/
.bmenu{
	position: relative;
	/*background: blue;*/
	width: 300px;
	height: 20px;
	
	left: 40%;
}
.b1{
	position: absolute;
	/*background: green;*/
	width: 100px;
	height: 30px;
	margin-left: -5px;

}
.b2{
	position: absolute;
	/*background: red;*/
	width: 150px;
	height: 30px;
	left: 150px;
}
#aviso-movil-horizontal { display: none; }
@media only screen and (orientation:portrait) {
	.CSSTableGenerator { display:none; }
	#aviso-movil-horizontal { display:block; }
}
@media only screen and (orientation:landscape) {
	#aviso-movil-horizontal { display:none; }
}

.toast-top-right {
	top: 80px;
}