{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Wandercoon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'web/js/plugins/pace.min.js' %}"></script>
	<script src="{% static 'web/js/libs/modernizr.custom.js' %}"></script>
	<script src="{% static 'web/js/libs/detectizr.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

</head>

<!-- Body -->
<!-- Remove '.fixed-footer' from body to disable fixed footer reveal on scroll -->
<body class="fixed-footer">

	<!-- Preloader -->
	<div id="preloader">
		<div class="logo">
			<img src="{% static 'web/images/logo.png' %}" alt="Appica 2">
		</div>
	</div>

	<!-- Fake scrollbar (when open popups/modals) -->
	<div class="fake-scrollbar"></div>

	<!-- Off-canvas Navigation -->
	<div class="offcanvas-nav">
		<!-- Head (Fixed Part) -->
		<div class="nav-head">
			<div class="top-bar">
				<div class="nav-toggle" data-offcanvas="close"><i class="flaticon-list26"></i></div>
				<form class="search-box">
					<span class="search-toggle search-icon"></span>
					<input type="text" id="search-field">
					<button type="submit" class="search-btn"><i class="search-icon"></i></button>
				</form>
				<div class="social-buttons">
					<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
					<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
					<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
				</div>
			</div>
			<a href="#" class="offcanvas-logo scrollup">
				<div class="icon"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></div>
				<div class="title">
					Wandercoon
					<span>Travel App</span>
				</div>
			</a>
			<a href="#" class="btn btn-ghost btn-light icon-left"></i> Descarga</a>
			<!-- <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-up" class="nav-link">Registrate</a> -->
			<!-- <a href="#" data-toggle="modal" data-target="#" data-modal-form="sign-up" class="nav-link">Registrate</a> -->
			<a href="/login" class="text-smaller text-warning">
				Ingresa
			</a>
		</div>
		<!-- Body (Scroll Part) -->

	</div><!-- Off-canvas Navigation End -->

	<!--Modal (Signin/Signup Page)-->
	<div class="modal fade" id="signin-page">
		<div class="modal-dialog">
			<div class="container">
				<div class="modal-form">
					<div class="tab-content">
						<!-- Sign in form -->
						<form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off" method="post" action="/login/">
							<h3 class="modal-title">Ingresa</h3>
							<div class="form-group space-top-2x">
								<label for="si_email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="usuario" id="si_email" placeholder="Usuario" readonly onfocus="$(this).removeAttr('readonly');" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="si-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="contrasena" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
								<a class="helper-link" href="#">¿Olvidaste tu contraseña?</a>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">¿No tienes una cuenta? <a href="#form-1">Regístrate a Wandercoon</a></div>
							<input type="hidden" name="accion" value="entrar" />
							{% csrf_token %}
						</form>
						<!-- Sign up form -->
						<form class="tab-pane transition scale fade" id="signup-form">
							{% csrf_token %}
							<h3 class="modal-title">Regístrate</h3>
							<div class="form-group space-top-2x">
								<label for="su-usuario" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="su-usuario" id="su-usuario" placeholder="Usuario" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group space-top-2x">
								<label for="su-email" class="sr-only">Correo</label>
								<input type="text" class="form-control" name="su-email" id="su-email" placeholder="Correo" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-telefono" class="sr-only">Telefono</label>
								<input type="telefono" class="form-control" name="su-telefono" id="su-telefono" placeholder="Telefono" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password-repeat" class="sr-only">Repite password</label>
								<input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<input type="hidden" name="registro" val="1" />
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">¿Ya tienes una cuenta? <a href="#form-2">Ingresar</a></div>
						</form>
					</div>
					<!-- Hidden real nav tabs -->
					<ul class="nav-tabs hidden">
						<li id="form-1"><a href="#signup-form" data-toggle="tab">Regístrate</a></li>
						<li id="form-2"><a href="#signin-form" data-toggle="tab">Ingresa</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Intro Section -->
	<section class="intro" style="background: #00557e;">
		<div class="gradient" style="background: #00557e !important;"></div>
		<div class="container-fluid">
			<div class="column-wrap">

				<!-- Left Column -->
				<div class="column c-left">
					<!-- Social Buttons -->
					<div class="social-buttons" style="margin-top:-35px;">
						<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
						<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
						<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
					</div>

					<!-- Scroll for More Button -->
					<a href="#features" class="scroll-more scroll" data-offset-top="80" style="margin-left: 45%;">
						<i class="icon"></i>
						<span>Sigue Bajando</span>
					</a>
				</div>

				<!-- Middle Column-->
				<div class="column c-middle">
					<h1 class="logo">
						<img src="{% static 'web/images/wandercoon_logo.png' %}" alt="Appica 2">
					</h1>
					<div class="phone">
					<!-- no Screen sobrepuesta
						<img src="{% static 'web/img/intro/screen_pink.png' %}" alt="App Screen">
					-->
					</div>
				</div>

				<!-- Right Column-->
				<div class="column c-right">
					<!-- Navi -->
					<div class="navi">
						<a href="en">English</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="/login">Ingresar</a>
						<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
					</div>
					<!-- Features -->
					<div class="intro-features">
						<div class="icon-block icon-block-horizontal light-color" data-transition-delay="100">
							<div class="icon"><i class="flaticon-viajar"></i></div>
							<div class="text">
								<h3>Descubre</h3>
								<p>Explora nuevos lugares según <span style="font-weight: bold;">tus intere-<br />ses</span> y conoce una nueva forma de viajar.</p>
							</div>
						</div>
						<div class="icon-block icon-block-horizontal light-color" data-transition-delay="300">
							<div class="icon"><i class="flaticon-formas"></i></div>
							<div class="text">
								<h3>Comparte</h3>
								<p>Intercambia <span style="font-weight: bold;">Rutas</span> con otros viajeros y<br /> comparte tus experiencias.</p>
							</div>
						</div>
						<div class="icon-block icon-block-horizontal light-color" data-transition-delay="500">
							<div class="icon"><i class="flaticon-tecnologia"></i></div>
							<div class="text">
								<h3>Conéctate</h3>
								<p>Visita los <span style="font-weight: bold;">WanderDens</span>, obtén <span style="font-weight: bold;">internet<br /> gratuito</span> y comunícate con otros viajeros.</p>
							</div>
						</div>
					</div>
					<!-- Download Button -->
					<div class="download">
						<!-- <p>Desde el 22 de Abril</p> -->
						<a href="#" class="btn btn-default btn-app-store" style="margin-right: 50%;">

							<div>
								<span>Pronto en</span>
								Android & IOS
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Intro Section End -->

	<!-- Content Wrap -->
	<div class="content-wrap">

		<!-- Navbar -->
		<!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
		<header class="navbar gray navbar-sticky">
			<div class="container-fluid">
				<div class="row">
					<!-- Social Buttons -->
					<div class="col-xs-3 social-buttons">
						<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
						<a href="#" class="sb-instagram"><i class="bi-instagram"></i></a>
						<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
					</div>
					<!-- Logo -->
					<center>
						<a href="#" class="col-xs-8 logo scrollup">
							<img src="{% static 'images/logo_barra.png' %}" alt="Appica 2" style="width: 20%;">
						</a>
					</center>
					<!-- Toolbar -->
					<div class="col-xs-3 toolbar" style="margin-top: -50px;">
						<!-- <span>Desde el 22 de Abril</span> -->
						<a href="#" class="btn btn-default icon-left" style="color: #fff;">Proximamente</a>
						<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn">Ingresar</a>
						<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
					</div>
				</div>
			</div>
		</header><!-- Navbar End -->

		<!-- Feature Tabs -->
		<section class="fw-bg bg-align-bottom feature-tabs" style="background: #fff;" id="features">
			<!-- Heading when columns stack -->
			<div class="block-heading light-color visible-when-stack">
				<h2 style="font-weight: 100 !important;">¿Por qué usar Wandercoon?</h2>
				<span style="color: black !important; font-weight: 100;">Una nueva forma de Viajar</span>
			</div>
			<div class="clearfix">
				<!-- Devices -->
				<div class="devices">
					<div class="tablet">
						<img src="{% static 'web/img/features/ipad.png' %}" alt="iPad">
						<div class="mask">
							<ul class="screens">
								<li class="active in" id="ts01"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 01"></li>
								<li id="ts02"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 02"></li>
								<li id="ts03"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 03"></li>
								<li id="ts04"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 04"></li>
							</ul>
						</div>
					</div>
					<div class="phone">
						<img src="{% static 'web/img/features/iphone_black.png' %}" alt="iPhone">
						<div class="mask">
							<ul class="screens">
								<li class="active in" id="ps01"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 01"></li>
								<li id="ps02"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 02"></li>
								<li id="ps03"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 03"></li>
								<li id="ps04"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 04"></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Tabs -->
				<div class="tabs light-color text-center">
					<div class="block-heading hidden-when-stack">
						<h2 style="font-weight: bold;">¿Por qué usar Wandercoon?</h2>
						<span style="color: black !important; opacity: 15;">Te ofrecemos un servicio:</span>
					</div>
					<!-- Nav Tabs -->
					<!-- Remove data-autoswitch="true" to disable automatic tabs change. -->
					<ul class="nav-tabs" data-autoswitch="true" data-interval="5000">
						<li class="active"><a href="#video-player" data-toggle="tab" data-tablet="#ts01" data-phone="#ps01"><i class="flaticon-herramienta" style="color: #00557e;"></i></a></li>
						<li><a href="#settings" data-toggle="tab" data-tablet="#ts02" data-phone="#ps02"><i class="flaticon-icon-69434" style="color: #00557e;"></i></a></li>
						<li><a href="#file-sharing" data-toggle="tab" data-tablet="#ts03" data-phone="#ps03"><i class="flaticon-tecnologia-1" style="color: #00557e;"></i></a></li>
						<li><a href="#chat" data-toggle="tab" data-tablet="#ts04" data-phone="#ps04"><i class="flaticon-herramienta-1" style="color: #00557e;"></i></a></li>
					</ul>
					<!-- Tab panes -->
					<!-- Use different transitions: 'scale', 'scaleup', 'top', 'bottom', 'left', 'right' and 'flip' -->
					<div class="tab-content">
						<div class="tab-pane transition scale fade in active" id="video-player">
							<h3 style="font-weight: bold;">Práctico</h3>
							<p style="color: black; opacity: 15;">Utiliza nuestro App de forma fácil y divertida.</p>
						</div>
						<div class="tab-pane transition scale fade" id="settings">
							<h3 style="font-weight: bold;">Geolocalizado</h3>
							<p style="color: black; opacity: 15;">Lánzate a la aventura y recorre la ciudad sin perderte.</p>
						</div>
						<div class="tab-pane transition scale fade" id="file-sharing">
							<h3 style="font-weight: bold;">Offline</h3>
							<p style="color: black; opacity: 15;">Disdruta de Wandercoon en cualquier lugar, aún sin internet.</p>
						</div>
						<div class="tab-pane transition scale fade" id="chat">
							<h3 style="font-weight: bold;">Gratuito</h3>
							<p style="color: black; opacity: 15;">Nuestro servicio es y será siempre gratuito para los viajeros.</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- Feature Tabs End -->



		<!-- Video Block -->
		<!-- <section class="fw-bg overlay gradient-blue-green bg-align-bottom video-block" style="background-image: url({% static 'web/img/video-bg.jpg' %});" id="video">
			<div class="container">
				<a class="video-popup" href="http://vimeo.com/113575647">
					<i class="flaticon-play33"></i>
					Video Presentation
				</a>
			</div>
		</section> -->
		<!-- Video Block End -->



		<!-- Press Reviews -->
		<section id="reviews">
			<hr>
			<div class="block-heading">
			<p>&nbsp;</p>
			<div class="container padding-bottom">
				<!-- Badge -->

				<!-- Reviews -->
				<div class="row">
					<div class="col-sm-4">
						<div class="press-review">
							<img src="{% static 'web/img/press-reviews/fashion2-03.png' %}" alt="New Odessa Times">
							<h3 style="color: #00557e; font-weight: bold;">Viaja a tu estilo</h3>
							<p>Nuestro servicio personalizado te ayudará a encontrar planes <span style="font-weight: bold;">hechos a tu medida.</span></p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="press-review">
							<img src="{% static 'web/img/press-reviews/aventurero2-03.png' %}" alt="Navigator">
							<h3 style="color: #e0a300; font-weight: bold;">Vive experiencias</h3>
							<p>Crea tus Rutas, sigue Rutas Recomendadas por otros viajeros, o <span style="font-weight: bold;">déjate llevar y ve tras la aventura.</span></p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="press-review">
								<img src="{% static 'web/img/press-reviews/investigador.png' %}" alt="Appicavillage">
								<h3 style="color: #00557e; font-weight: bold;">Conoce a otros viajeros</h3>
								<p>Pronto, te sorprenderemos con un sistema único de comunicación. <span style="font-weight: bold;">¡Mantente atento!</span></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="press-review">
								<img src="{% static 'web/img/press-reviews/culinario2-03.png' %}" alt="Tap-Tap Time">
								<h3 style="color: #00557e; font-weight: bold;">Aprovecha las promociones</h3>
								<p>Encuentra ofertas únicas y vive más sin salirte de tu presupuesto.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="press-review">
								<img src="{% static 'web/images/logo_pin.png' %}" alt="iCaravely">
								<h3 style="color: #00557e; font-weight: bold;">Visita los WanderDens</h3>
								<p>Conéctate al mundo desde nuestra red de locales, <span style="font-weight: bold;">encuentra Wifi gratis y otras sorpresas.</span></p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="press-review">
									<img src="{% static 'web/img/press-reviews/fiesta.png' %}" alt="MooDesign">
									<h3 style="color: #00557e; font-weight: bold;">Juega y gana</h3>
									<p>Ve a los sitios "imperdibles" de la ciudad, <span style="font-weight: bold;">gana Medallas, supera Niveles y gana premios.</span></p>
								</div>
							</div>
						</div>
					</div>
					<br />
					<br	/>
				</section><!-- Press Reviews End -->




				<!-- Web Application -->
				<section class="fw-bg" style="background: #fff;" id="web-app">
					<br />
					<br	/>
					<div class="container light-color" style="color: #00557e !important;">
						<div class="block-heading">
							<h2 style="font-weight: bold;">¿Quieres que tu negocio aparezca en Wandercoon?</h2>
							<span>¡Se parte de la comunidad!</span>
						</div>
						<div class="row space-top-3x">
							<div class="col-md-4" style="margin-top: -3%;">
								<img class="img-responsive" src="{% static 'web/img/webapp/mundo.png' %}" alt="Mundo" width="90%">
							</div>
							<div class="col-md-5">
									<div class="text">
										<h3>Muéstrate al mundo</h3>
										<p>¡Haz que los viajeros tengan tus datos siempre a la mano! Publica promociones, se parte de las Rutas Recomendadas, forma parte de la red de WanderDens y recibe turistas a diario.</p>
										<p><a target="_blank" href="/media/files/Wandercoon - Brochure.pdf" style="color: #00557e !important;">Descarga nuestro <span style="font-weight: bold;">Brochure</span> y conoce más! <img src="{% static 'web/img/webapp/download.png' %}" width="7%" alt="Descarga"></a></p>
										<p class="space-top"></p>
										<!-- Download Button -->
										<a href="/registro/empresa/" class="btn btn-default btn-app-store">

											<div>
												<span>Inscribe tu establecimiento en</span>
												Wandercoon
											</div>
										</a>
									</div>
							</div>
							<!-- No iPhone
							<div class="col-md-4" style="margin-top: -18%; margin-right: -20%; margin-left: 5%;">
								<img src="{% static 'web/img/webapp/iphone.png' %}" width="84%" alt="Web App">
							</div>
						-->
						</div>
					</div>
				</section><!-- Web Application End -->

			</div><!-- Content Wrap End -->

			<!-- Footer -->
			<footer class="footer padding-top-3x">
				<div class="container space-top">
					<!-- Footer Head -->
					<div class="footer-head">
						<div class="logo">
							<a href="#" class="srollup"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></a>
						</div>
						<div class="info">
							<h2>Wandercoon</h2>
							<p>Travel App</p>
							<span>14+</span>
							<div class="rating">
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<span>(33)</span>
							</div>
							<a href="#" class="btn btn-ghost btn-plus btn-primary btn-sm">Get</a>
						</div>
					</div>
					<div class="body padding-top-2x">
						<!-- Copyright -->
						<div class="column copyright">
							<p>2016 &copy; <a href="#" target="_blank">Wandercoon</a>. <span style="Margin-left: 80%"><a href="mailto:info@wandercoon.com" target="_top">Contáctanos</a></span></p>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

			<!-- Javascript (jQuery) Libraries and Plugins -->
			<script src="{% static 'web/js/libs/jquery-2.1.3.min.js' %}"></script>
			<script src="{% static 'web/js/libs/jquery.easing.1.3.js' %}"></script>
			<script src="{% static 'web/js/plugins/velocity.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/bootstrap.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/smoothscroll.js' %}"></script>
			<script src="{% static 'web/js/plugins/jquery.waypoints.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/form-plugins.js' %}"></script>
			<script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>
			<script src="{% static 'web/js/scripts.js' %}"></script>
			{% if request.user.is_authenticated %}
			<script type="text/javascript">
				$('a[data-modal-form="sign-in"]').on('click', function(e){
					e.preventDefault();
					window.location = '/panel';
				});

			</script>
			{% endif %}
			{% if messages %}

			{% for message in messages %}
			<script>
				alert('{{ message }}');
			</script>
			{% endfor %}
			{% endif %}
		</body><!-- Body End-->
		</html>
