{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Wandercoon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'web/js/plugins/pace.min.js' %}"></script>
	<script src="{% static 'web/js/libs/modernizr.custom.js' %}"></script>
	<script src="{% static 'web/js/libs/detectizr.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

	<style type="text/css">
		.combo h4{
			background: #1c9a97;
			width: 135px;
			padding: 14px 20px 14px 20px;
			border-radius: 5px;
			color: white;
			margin-top: -27px;
			margin-left: 12px;
			font-weight: bold;
			float: left;
		}
		.combo p{
			margin-top: 45px;
			text-align: left;
			margin-left: 12px;
		}
		.combo{
			color: black;
			background: white;
			border: solid #1c9a97;
			font-weight: 600;
			border-radius: 20px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
		.azu{
			border: solid #1c9a97;
		}
		.azu h4{
			background: #1c9a97;
		}
		.ros{
			border: solid #eb816a;
		}
		.ros h4{
			background: #eb816a;
		}
		.ver{
			border: solid #c3bf82;
		}
		.ver h4{
			background: #c3bf82;
		}
		.warn{
			border: solid #f3aa39;
		}
		.warn h4{
			background: #f3aa39;
		}
		.combo img{
			margin-top: -117px;
			margin-left: 100px;
			float: right;
		}
	</style>

</head>

<!-- Body -->
<!-- Remove '.fixed-footer' from body to disable fixed footer reveal on scroll -->
<body class="fixed-footer">



	<!--Modal (Signin/Signup Page)-->
	<div class="modal fade" id="signin-page">
		<div class="modal-dialog">
			<div class="container">
				<div class="modal-form">
					<div class="tab-content">
						<!-- Sign in form -->
						<form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off" method="post" action="/login/">
							<h3 class="modal-title">Ingresa</h3>
							<div class="form-group space-top-2x">
								<label for="si_email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="usuario" id="si_email" placeholder="Usuario" readonly onfocus="$(this).removeAttr('readonly');" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="si-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="contrasena" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
								<a class="helper-link" href="#">¿Olvidaste tu contraseña?</a>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">No tienes una cuenta? <a href="#form-1">Regístrate a Wandercoon</a></div>
							<input type="hidden" name="accion" value="entrar" />
							{% csrf_token %}
						</form>
						<!-- Sign up form -->
						<form class="tab-pane transition scale fade" id="signup-form">
							{% csrf_token %}
							<h3 class="modal-title">Regístrate</h3>
							<div class="form-group space-top-2x">
								<label for="su-email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="su-email" id="su-email" placeholder="Usuario" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password-repeat" class="sr-only">Repite password</label>
								<input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<label class="checkbox">
								<input type="checkbox"> Suscríbete para novedades
							</label>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">¿Ya tienes una cuenta? <a href="#form-2">Ingresar</a></div>
						</form>
					</div>
					<!-- Hidden real nav tabs -->
					<ul class="nav-tabs hidden">
						<li id="form-1"><a href="#signup-form" data-toggle="tab">Regístrate</a></li>
						<li id="form-2"><a href="#signin-form" data-toggle="tab">Ingresa</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<!-- Content Wrap -->
	<div class="content-wrap">

		<!-- Navbar -->
		<!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
		<header class="navbar gray navbar-sticky">
			<div class="container-fluid">
				<!-- Logo -->
				<a href="/" class="logo scrollup">
					<img src="{% static 'images/racoon-pin.png' %}" alt="Appica 2">
					Wandercoon
				</a>
				<!-- Social Buttons -->
				<div class="social-buttons">
					<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
					<a href="#" class="sb-instagram"><i class="bi-instagram"></i></a>
					<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
				</div>
				<!-- Toolbar -->
				<div class="toolbar">
					<span style="color: #fff;">Android &amp; IOS version</span>
					<a href="#" class="btn btn-default icon-left" style="color: #fff;">Proximamente</a>
					<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn">Ingresar</a>
					<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
				</div>
		</header><!-- Navbar End -->





		<!-- Page Heading
		<div class="page-heading text-right">
			<div class="container">
				<h2>Legal</h2>
			</div>
		</div> -->

		<p><br /><br /></p>
		<!-- Page Title -->
		<section class="container">
			<h1 style="max-width: 770px;">Términos & Condiciones</h1>
		</section>

		<!-- Legal Notice -->
		<section class="space-top-2x padding-bottom-2x">
			<hr>
			<div class="container">
				<!-- Badge -->
				<div class="badge alt-color-4">
					<span class="icon"><i class="flaticon-correct7"></i></span>
					Ultima Actualización 14/Abr/2016
				</div>
				<div class="row space-top-3x">
					<div class="col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-2 col-sm-9">
						<p>Al confirmar este pago, usted acepta los 'Términos de Uso':</p>
						<dl class="space-top-2x">
							<dt><span>1</span></dt>
							<dd>Los precios no incluyen IGV.
							</dd>
							<dt><span>2</span></dt>
							<dd>Nuestro sistema web le permite efectuar pagos en línea con tarjetas de crédito, débito y prepagadas, de las marcas Visa, Mastercard, American Express y Diners Club.
							</dd>
							<dt><span>3</span></dt>
							<dd>Contamos con el Certificado SSL con Validación Extendida, el cual se otorga tras comprobar la existencia legal, física y operativa de la empresa que brinda los servicios; en este caso, Heda Media S.A.C. Dicho certificado protege al usuario de estafas y fraudes en línea, asegura que la información que compartas dentro del dominio Wandercoon.com estará altamente protegida.
							</dd>
							<dt><span>4</span></dt>
							<dd>Antes de realizar su pago, compruebe que usted se encuentre dentro del dominio Wandercoon.com y que la barra de navegación muestre los indicios visuales de la Certificación SSL: (1) Barra de direcciones verde (barra completa, parcial, o nombre verde), (2) nombre del titular de la página web en la barra de direcciones, (3) https:// al principio del nombre de dominio, (4) candado en la barra de direcciones, (5) datos de la organización en los detalles del certificado.
							</dd>
							<dt><span>5</span></dt>
							<dd>Tras haber realizado el pago, el sistema enviará un recibo automático al correo electrónico asociado a su cuenta. La factura electrónica correspondiente será enviada al mismo correo por uno de nuestros representantes en las siguientes horas.
							</dd>
							<dt><span>6</span></dt>
							<dd>En caso desee anular la compra de nuestros servicios, tendrá un plazo de 05 días hábiles para notificarlo. Heda Media se compromete a efectuar la devolución total de tu dinero e informarle acerca de los pasos del procedimiento en los días posteriores a la anulación.
							</dd>
						</dl>
					</div>
					<div class="col-sm-3 text-right">
						<a href="mailto:contact@Wandercoon.com" class="text-smaller">info@Wandercoon.com</a>
					</div>
				</div>
			</div>
		</section>







	</div><!-- Content Wrap End -->

	<!-- Footer -->
	<footer class="footer padding-top-3x">
		<div class="container space-top">
			<!-- Footer Head -->
			<div class="footer-head">
				<div class="logo">
					<a href="#" class="srollup"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></a>
				</div>
				<div class="info">
					<h2>Wandercoon</h2>
					<span>14+</span>
					<div class="rating">
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<span>(33)</span>
					</div>
					<a href="#" class="btn btn-ghost btn-plus btn-primary btn-sm">Get</a>
				</div>
			</div>
			<div class="body padding-top-2x">
				<!-- Copyright -->
				<div class="column copyright">
					<p>2016 &copy; <a href="http://8guild.com/" target="_blank">Wandercoon</a>.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->

	<!-- Javascript (jQuery) Libraries and Plugins -->
	<script src="{% static 'web/js/libs/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'web/js/libs/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'web/js/plugins/velocity.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/smoothscroll.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/form-plugins.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'web/js/scripts.js' %}"></script>
	{% if request.user.is_authenticated %}
	<script type="text/javascript">
		$('a[data-modal-form="sign-in"]').on('click', function(e){
			e.preventDefault();
			window.location = '/panel';
		});
		$(".whole").on("click","a",function(){
			event.preventDefault();
			$(".plan").removeClass("selected");
			$(this).closest(".whole").find(".plan").addClass("selected");

			var plan = $(this).parent().parent().siblings('.type').find('p').text().toUpperCase();
			$('#planForm').val(plan);

		});
	</script>
	{% endif %}
</body><!-- Body End-->
</html>
