{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Wandercoon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'web/js/plugins/pace.min.js' %}"></script>
	<script src="{% static 'web/js/libs/modernizr.custom.js' %}"></script>
	<script src="{% static 'web/js/libs/detectizr.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

	<style type="text/css">
		.combo h4{
			background: #1c9a97;
			width: 135px;
			padding: 14px 20px 14px 20px;
			border-radius: 5px;
			color: white;
			margin-top: -27px;
			margin-left: 12px;
			font-weight: bold;
			float: left;
		}
		.combo p{
			margin-top: 45px;
			text-align: left;
			margin-left: 12px;
		}
		.combo{
			color: black;
			background: white;
			border: solid #1c9a97;
			font-weight: 600;
			border-radius: 20px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
		.azu{
			border: solid #1c9a97;
		}
		.azu h4{
			background: #1c9a97;
		}
		.ros{
			border: solid #eb816a;
		}
		.ros h4{
			background: #eb816a;
		}
		.ver{
			border: solid #c3bf82;
		}
		.ver h4{
			background: #c3bf82;
		}
		.warn{
			border: solid #f3aa39;
		}
		.warn h4{
			background: #f3aa39;
		}
		.combo img{
			margin-top: -157px;
			margin-left: 100px;
			float: right;
		}
		.precio{
			position: absolute;
			margin-top: -120px;
			width: 100%;
			float: left;
			text-align: center;
			margin-left: 50px;
			font-size: 22px;
			color: white;
		}
		.alert-box {
			color:#555;
			border-radius:10px;
			font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
			padding:10px 10px 10px 36px;
			margin:10px;
		}
		.alert-box span {
			font-weight:bold;
			text-transform:uppercase;
		}
		.notice {
			background:#ffecec;
			border:1px solid #f5aca6;
		}
	</style>

</head>
<body class="fixed-footer">

	<div class="modal fade" id="signin-page">
		<div class="modal-dialog">
			<div class="container">
				<div class="modal-form">
					<div class="tab-content">
						<form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off" method="post" action="/login/">
							<h3 class="modal-title">Ingresa</h3>
							<div class="form-group space-top-2x">
								<label for="si_email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="usuario" id="si_email" placeholder="Usuario" readonly onfocus="$(this).removeAttr('readonly');" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="si-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="contrasena" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
								<a class="helper-link" href="#">¿Olvidaste tu contraseña?</a>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<div class="form-switch helper-text space-top-2x">No tienes una cuenta? <a href="#form-1">Regístrate a Wandercoon</a></div>
							<input type="hidden" name="accion" value="entrar" />
							{% csrf_token %}
						</form>
						<form class="tab-pane transition scale fade" id="signup-form">
							{% csrf_token %}
							<h3 class="modal-title">Regístrate</h3>
							<div class="form-group space-top-2x">
								<label for="su-email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="su-email" id="su-email" placeholder="Usuario" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password-repeat" class="sr-only">Repite password</label>
								<input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<label class="checkbox">
								<input type="checkbox"> Suscríbete para novedades
							</label>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<div class="form-switch helper-text space-top-2x">Ya tienes una cuenta? <a href="#form-2">Ingresar</a></div>
						</form>
					</div>
					<ul class="nav-tabs hidden">
						<li id="form-1"><a href="#signup-form" data-toggle="tab">Regístrate</a></li>
						<li id="form-2"><a href="#signin-form" data-toggle="tab">Ingresa</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrap">
		<header class="navbar gray navbar-sticky">
			<div class="container-fluid">
				<a href="/" class="logo scrollup">
					<img src="{% static 'images/racoon-pin.png' %}" alt="Appica 2">
				</a>
				<div class="social-buttons">
					<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
					<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
					<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
				</div>
				<div class="toolbar">
					<span>Android & IOS version</span>
					<a href="#" class="btn btn-default icon-left"></i> Descargar</a>
					<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn">Ingresar</a>
					<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
				</div>
			</div>
		</header>
		<section class="space-top" id="reviews">
			<div class="container padding-bottom">
				<div class="row">
					<div class="col-sm-12">
						<div id="container">
						<h2>¡Bienvenido a Wandercoon!</h2>
						<h4>Paso 2: Elige tu combo de inscripción</h4>
						{% if messages %}
						<div class="alert alert-dismissible alert-warning">
							<ul class="messages">
								{% for message in messages %}
								<li><div class="alert-box notice"><center><span>{{ message }}</span></center></div></li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
						{% if usuarioss %}
						<div class="alert-box notice" style="background-color:#e3f7fc;border-color:#8ed9f6;"><center><span>Bienvenido, {{usuarioss}}</span></center></div>
						<p><br /></p>
						{% endif %}
						<div class="row">
							{% for combo in combos %}
							<div class="col-sm-6">
								<center>
									<a href="?combo={{combo.pk}}" value="{{combo.pk}}">
										{% if combo.pk == 1 %}
										<div class="alert alert-dismissible alert-warning combo azu">
										{% elif combo.pk == 2 %}
										<div class="alert alert-dismissible alert-warning combo ros">
										{% elif combo.pk == 3 %}
										<div class="alert alert-dismissible alert-warning combo ver">
										{% elif combo.pk == 4 %}
										<div class="alert alert-dismissible alert-warning combo warn">
										{% endif %}
										<h4 class="title-combo">{{combo.nombre}}</h4>
										<p>
											{{combo.descripcion}}
											<div style="position: relative; min-width: 90%;">
												{% if combo.pk == 1 %}
												<img style="" src="{% static 'web/images/ventanas1-03.png' %}" width="100" />
												{% elif combo.pk == 2 %}
												<img src="{% static 'web/images/ventanas1-04.png' %}" width="100" />
												{% elif combo.pk == 3 %}
												<img src="{% static 'web/images/ventanas1-05.png' %}" width="100" />
												{% elif combo.pk == 4 %}
												<img src="{% static 'web/images/ventanas1-06.png' %}" width="100" />
												{% endif %}
												<span class="precio" style="padding-right: 198.2px;">
													${{combo.precio|floatformat}}
												</span>
											</div>
										</p>
									</div>
								</a>
							</center>
						</div>
						{% endfor %}
						<center><span>*No incluye IGV.</span></center>
						<!-- Espacio para el Scroll -->
						<p><br /></p>
						<p><br /></p>
						<p><br /></p>
						<!--////////////////////////-->
					</div>
				</section>
			</div>

			<footer class="footer">
				<div class="container space-top">
					<div class="footer-head">
						<div class="logo">
							<a href="#" class="srollup"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></a>
						</div>
						<div class="info">
							<h2>Wandercoon</h2>
							<span>18+</span>
							<div class="rating">
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<span>(33)</span>
							</div>
							<a href="#" class="btn btn-ghost btn-plus btn-primary btn-sm">Get</a>
						</div>
					</div>
					<div class="body padding-top-2x">
						<div class="column copyright">
							<p>2016 &copy; <a href="http://8guild.com/" target="_blank">Wandercoon</a>.</p>
						</div>
					</div>
				</div>
			</footer>

	<script src="{% static 'web/js/libs/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'web/js/libs/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'web/js/plugins/velocity.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/smoothscroll.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/form-plugins.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'web/js/scripts.js' %}"></script>
	{% if request.user.is_authenticated %}
	<script type="text/javascript">
		$('a[data-modal-form="sign-in"]').on('click', function(e){
			e.preventDefault();
			window.location = '/panel';
		});
		$(".whole").on("click","a",function(){
			event.preventDefault();
			$(".plan").removeClass("selected");
			$(this).closest(".whole").find(".plan").addClass("selected");

			var plan = $(this).parent().parent().siblings('.type').find('p').text().toUpperCase();
			$('#planForm').val(plan);

		});
	</script>
	{% endif %}
	<script type="text/javascript">
		$('center>a').on('click', function(e){
			e.preventDefault();
			var value = $(this).attr('value');
			$.post(window.location, { 'combo': value, 'csrfmiddlewaretoken': '{{csrf_token}}' }, function(data){
				if(data.success == 'true'){
					window.location = '/registro/empresa/?ticket=' + data.ticket;
				}else{
					alert(data.respuesta);
				}
			});
		});
	</script>
</body>
</html>
