{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Wandercoon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'web/js/plugins/pace.min.js' %}"></script>
	<script src="{% static 'web/js/libs/modernizr.custom.js' %}"></script>
	<script src="{% static 'web/js/libs/detectizr.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

	<style type="text/css">
		.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #00557e;
	border-collapse:inherit;

	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;

	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;

	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;

	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
}.CSSTableGenerator tr:hover td{
	background-color:#ffffff;


}
.CSSTableGenerator td{
	vertical-align:middle;

	background-color:#ffffff;

	border:1px solid #00557e;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:9px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background-color:#00557e;
	border:0px solid #00557e;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background-color:#00557e;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;

	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;

	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
}
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.notice {
    background:#e3f7fc;
    border:1px solid #8ed9f6;
}
	</style>
</head>

<!-- Body -->
<!-- Remove '.fixed-footer' from body to disable fixed footer reveal on scroll -->
<body class="fixed-footer">



	<!--Modal (Signin/Signup Page)-->
	<div class="modal fade" id="signin-page">
		<div class="modal-dialog">
			<div class="container">
				<div class="modal-form">
					<div class="tab-content">
						<!-- Sign in form -->
						<form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off" method="post" action="/login/">
							<h3 class="modal-title">Ingresa</h3>
							<div class="form-group space-top-2x">
								<label for="si_email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="usuario" id="si_email" placeholder="Usuario" readonly onfocus="$(this).removeAttr('readonly');" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="si-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="contrasena" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
								<a class="helper-link" href="#">¿Olvidaste tu contraseña?</a>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">No tienes una cuenta? <a href="#form-1">Regístrate a Wandercoon</a></div>
							<input type="hidden" name="accion" value="entrar" />
							{% csrf_token %}
						</form>
						<!-- Sign up form -->
						<form class="tab-pane transition scale fade" id="signup-form">
							{% csrf_token %}
							<h3 class="modal-title">Regístrate</h3>
							<div class="form-group space-top-2x">
								<label for="su-email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="su-email" id="su-email" placeholder="Usuario" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password-repeat" class="sr-only">Repite password</label>
								<input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<label class="checkbox">
								<input type="checkbox"> Suscríbete para novedades
							</label>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">Ya tienes una cuenta? <a href="#form-2">Ingresar</a></div>
						</form>
					</div>
					<!-- Hidden real nav tabs -->
					<ul class="nav-tabs hidden">
						<li id="form-1"><a href="#signup-form" data-toggle="tab">Regístrate</a></li>
						<li id="form-2"><a href="#signin-form" data-toggle="tab">Ingresa</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<!-- Content Wrap -->
	<div class="content-wrap">

		<!-- Navbar -->
		<!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
		<header class="navbar gray navbar-sticky">
			<div class="container-fluid">
				<!-- Logo -->
				<a href="/" class="logo scrollup">
					<img src="{% static 'images/racoon-pin.png' %}" alt="Appica 2">
				</a>
				<!-- Social Buttons -->
				<div class="social-buttons">
					<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
					<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
					<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
				</div>
				<!-- Toolbar -->
				<div class="toolbar">
					<span>Android & IOS version</span>
					<a href="#" class="btn btn-default icon-left"></i> Descargar</a>
					<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn">Ingresar</a>
					<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
				</div>
			</div>
		</header><!-- Navbar End -->





		<!-- Press Reviews -->
		<section class="space-top" id="reviews">
			<div class="container padding-bottom">
				<div class="row">
					<div class="col-sm-12">
						<div id="container">
							<div class="row">
								<div class="col-sm-3">
									<img src="{% static 'web/images/mapachephone_new.png' %}" width="216px" height="430px">
								</div>
								<div class="col-sm-9">
									<h2 style="color: #00557e !important">¡Bienvenido a Wandercoon!</h2>
									<h4>Paso 3: <span style="color: #00557e !important">Pagar</span></h4>
									<p>&nbsp;</p>
									<table class="CSSTableGenerator">

											<tr>
												<td>No. Pedido</td>
												<td>Descripcion</td>
												<td>Total</td>
											</tr>

											<tr>
												<td>{{pedido}}</td>
												<td>{{descripcion}}</td>
												<td>$ {{subtotal}}</td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: right;">Subtotal:</td>
												<td>$ {{subtotal}}</td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: right;">IGV:</td>
												<td>$ {{igv}}</td>
											</tr>
											<tr>
												<td colspan="2" style="text-align: right;">Total:</td>
												<td>$ {{total}}</td>
											</tr>
									</table>
									<center>
									<p>&nbsp;</p><br/>
									<img style="margin-right: 6px;" src="{% static 'images/tarjetas_culqi.png' %}">
									<br/>
									<img id="btn_pago" style="cursor: pointer;" src="{% static 'images/btn_culqi_b.png' %}">
									<div id="respuesta"></div>
									<br/>
									<span style="font-size: 10pt">Al pagar usted estara aceptando los <span class="terminos"><a target="_blank" href="/legal/">Terminos y Condiciones</a></span></span>
									</center>
									<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>







	</div><!-- Content Wrap End -->

	<!-- Footer -->
	<footer class="footer padding-top-3x">
		<div class="container space-top">
			<!-- Footer Head -->
			<div class="footer-head">
				<div class="logo">
					<a href="#" class="srollup"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></a>
				</div>
				<div class="info">
					<h2>Wandercoon</h2>
					<span>18+</span>
					<div class="rating">
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<span>(33)</span>
					</div>
					<a href="#" class="btn btn-ghost btn-plus btn-primary btn-sm">Get</a>
				</div>
			</div>
			<div class="body padding-top-2x">
				<!-- Copyright -->
				<div class="column copyright">
					<p>2016 &copy; <a href="http://8guild.com/" target="_blank">Wandercoon</a>.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->

	<!-- Javascript (jQuery) Libraries and Plugins -->
	<script src="https://integ-pago.culqi.com/api/v1/culqi.js"></script>
	<script src="{% static 'web/js/libs/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'web/js/libs/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'web/js/plugins/velocity.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/smoothscroll.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/form-plugins.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>

	<script src="{% static 'web/js/scripts.js' %}"></script>
	{% if request.user.is_authenticated %}
	<script type="text/javascript">
		$('a[data-modal-form="sign-in"]').on('click', function(e){
			e.preventDefault();
			window.location = '/panel';
		});
		$(".whole").on("click","a",function(){
			event.preventDefault();
			$(".plan").removeClass("selected");
			$(this).closest(".whole").find(".plan").addClass("selected");

			var plan = $(this).parent().parent().siblings('.type').find('p').text().toUpperCase();
			$('#planForm').val(plan);

		});
	</script>
	{% endif %}

	<script>

		checkout.codigo_comercio = "imCZUtaYTOnY";

		checkout.informacion_venta = "{{informacion_venta}}";


		$('#btn_pago').on('click', function(e) {
			checkout.abrir();
			e.preventDefault();
		});


		function culqi (checkout) {
			$.post('/pagar/', { 'respuesta': checkout.respuesta, 'csrfmiddlewaretoken': "{{csrf_token}}" }, function(resp){
				$('#respuesta').html('<div class="alert-box notice"><span>' + resp.respuesta + '</span></div>');
				if(resp.codigo_respuesta == 'venta_exitosa')
				{
					$('#btn_pago').hide();
					setTimeout(function(){
						window.location = '/panel';
					}, 5000);
				}
			});
			console.log(checkout.respuesta);

			checkout.cerrar();

		};

	</script>
</body>
</html>
