{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Wandercoon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'web/js/plugins/pace.min.js' %}"></script>
	<script src="{% static 'web/js/libs/modernizr.custom.js' %}"></script>
	<script src="{% static 'web/js/libs/detectizr.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

	<style type="text/css">
		.combo h4{
			background: #1c9a97;
			width: 135px;
			padding: 14px 20px 14px 20px;
			border-radius: 5px;
			color: white;
			margin-top: -27px;
			margin-left: 12px;
			font-weight: bold;
			float: left;
		}
		.combo p{
			margin-top: 45px;
			text-align: left;
			margin-left: 12px;
		}
		.combo{
			color: black;
			background: white;
			border: solid #1c9a97;
			font-weight: 600;
			border-radius: 20px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
		.azu{
			border: solid #1c9a97;
		}
		.azu h4{
			background: #1c9a97;
		}
		.ros{
			border: solid #eb816a;
		}
		.ros h4{
			background: #eb816a;
		}
		.ver{
			border: solid #c3bf82;
		}
		.ver h4{
			background: #c3bf82;
		}
		.warn{
			border: solid #f3aa39;
		}
		.warn h4{
			background: #f3aa39;
		}
		.combo img{
			margin-top: -50px;
			margin-left: 100px;
			float: right;
		}
	</style>

</head>

<!-- Body -->
<!-- Remove '.fixed-footer' from body to disable fixed footer reveal on scroll -->
<body class="fixed-footer">



	<!--Modal (Signin/Signup Page)-->
	<div class="modal fade" id="signin-page">
		<div class="modal-dialog">
			<div class="container">
				<div class="modal-form">
					<div class="tab-content">
						<!-- Sign in form -->
						<form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off" method="post" action="/login/">
							<h3 class="modal-title">Ingresa</h3>
							<div class="form-group space-top-2x">
								<label for="si_email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="usuario" id="si_email" placeholder="Usuario" readonly onfocus="$(this).removeAttr('readonly');" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="si-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="contrasena" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
								<a class="helper-link" href="#">¿Olvidaste tu contraseña?</a>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">No tienes una cuenta? <a href="#form-1">Regístrate a Wandercoon</a></div>
							<input type="hidden" name="accion" value="entrar" />
							{% csrf_token %}
						</form>
						<!-- Sign up form -->
						<form class="tab-pane transition scale fade" id="signup-form">
							{% csrf_token %}
							<h3 class="modal-title">Regístrate</h3>
							<div class="form-group space-top-2x">
								<label for="su-email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="su-email" id="su-email" placeholder="Usuario" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password-repeat" class="sr-only">Repite password</label>
								<input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<label class="checkbox">
								<input type="checkbox"> Suscríbete para novedades
							</label>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">Ya tienes una cuenta? <a href="#form-2">Ingresar</a></div>
						</form>
					</div>
					<!-- Hidden real nav tabs -->
					<ul class="nav-tabs hidden">
						<li id="form-1"><a href="#signup-form" data-toggle="tab">Regístrate</a></li>
						<li id="form-2"><a href="#signin-form" data-toggle="tab">Ingresa</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<!-- Content Wrap -->
	<div class="content-wrap">

		<!-- Navbar -->
		<!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
		<header class="navbar gray navbar-sticky">
			<div class="container-fluid">
				<!-- Logo -->
				<a href="/" class="logo scrollup">
					<img src="{% static 'images/racoon-pin.png' %}" alt="Appica 2">
				</a>
				<!-- Social Buttons -->
				<div class="social-buttons">
					<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
					<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
					<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
				</div>
				<!-- Toolbar -->
				<div class="toolbar">
					<span style="color: #fff;">Android & IOS version</span>
					<a href="#" class="btn btn-default icon-left" style="color: #fff;">Proximamente</a>
					<a href="/login" class="action-btn">Ingresar</a>
					<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
				</div>
			</div>
		</header><!-- Navbar End -->





		<!-- Press Reviews -->
		<section class="space-top" id="reviews">
			<div class="container padding-bottom">
				<div class="row">
					<div class="col-sm-12">
						<div id="container">
							<div class="row">
								<div class="col-sm-3">
									<img src="{% static 'web/img/press-reviews/fashion2-03.png' %}" width="250">
								</div>
								<div class="col-sm-9">
									<h2>¡Bienvenido a Wandercoon!</h2>
									<h4>Ingresa tu informacion</h4>
									<form id="form-demo" novalidate="novalidate" method="post">
										{% if messages %}
										<ul class="messages">
											{% for message in messages %}
											<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
											{% endfor %}
										</ul>
										{% endif %}
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Razon Social</label>
													<input type="text" class="form-control" name="empresa" id="fd_name" placeholder="Razon Social" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>

											<script>
												function isInteger (evt) {
													var theEvent = evt || window.event;
													var key = theEvent.keyCode || theEvent.which;
													key = String.fromCharCode (key);
													var regex = /[0-9]|\\./;
													if ( !regex.test(key) ) {
														theEvent.returnValue = false;
														if (theEvent.preventDefault) theEvent.preventDefault();
													}
												}
											</script>

											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Identificación Tributaria</label>
													<input type="text" maxlength="16" minlength="11" class="form-control" name="ruc" id="fd_name" placeholder="Identificación Tributaria" onpaste="return false" ondragover="return false" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Pais</label>
													<select class="form-control" name="pais" required>
														<option value="PE">Peru</option>
														<option value="AF">Afghanistan</option>
														<option value="AX">Åland Islands</option>
														<option value="AL">Albania</option>
														<option value="DZ">Algeria</option>
														<option value="AS">American Samoa</option>
														<option value="AD">Andorra</option>
														<option value="AO">Angola</option>
														<option value="AI">Anguilla</option>
														<option value="AQ">Antarctica</option>
														<option value="AG">Antigua and Barbuda</option>
														<option value="AR">Argentina</option>
														<option value="AM">Armenia</option>
														<option value="AW">Aruba</option>
														<option value="AU">Australia</option>
														<option value="AT">Austria</option>
														<option value="AZ">Azerbaijan</option>
														<option value="BS">Bahamas</option>
														<option value="BH">Bahrain</option>
														<option value="BD">Bangladesh</option>
														<option value="BB">Barbados</option>
														<option value="BY">Belarus</option>
														<option value="BE">Belgium</option>
														<option value="BZ">Belize</option>
														<option value="BJ">Benin</option>
														<option value="BM">Bermuda</option>
														<option value="BT">Bhutan</option>
														<option value="BO">Bolivia, Plurinational State of</option>
														<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
														<option value="BA">Bosnia and Herzegovina</option>
														<option value="BW">Botswana</option>
														<option value="BV">Bouvet Island</option>
														<option value="BR">Brazil</option>
														<option value="IO">British Indian Ocean Territory</option>
														<option value="BN">Brunei Darussalam</option>
														<option value="BG">Bulgaria</option>
														<option value="BF">Burkina Faso</option>
														<option value="BI">Burundi</option>
														<option value="KH">Cambodia</option>
														<option value="CM">Cameroon</option>
														<option value="CA">Canada</option>
														<option value="CV">Cape Verde</option>
														<option value="KY">Cayman Islands</option>
														<option value="CF">Central African Republic</option>
														<option value="TD">Chad</option>
														<option value="CL">Chile</option>
														<option value="CN">China</option>
														<option value="CX">Christmas Island</option>
														<option value="CC">Cocos (Keeling) Islands</option>
														<option value="CO">Colombia</option>
														<option value="KM">Comoros</option>
														<option value="CG">Congo</option>
														<option value="CD">Congo, the Democratic Republic of the</option>
														<option value="CK">Cook Islands</option>
														<option value="CR">Costa Rica</option>
														<option value="CI">Côte d'Ivoire</option>
														<option value="HR">Croatia</option>
														<option value="CU">Cuba</option>
														<option value="CW">Curaçao</option>
														<option value="CY">Cyprus</option>
														<option value="CZ">Czech Republic</option>
														<option value="DK">Denmark</option>
														<option value="DJ">Djibouti</option>
														<option value="DM">Dominica</option>
														<option value="DO">Dominican Republic</option>
														<option value="EC">Ecuador</option>
														<option value="EG">Egypt</option>
														<option value="SV">El Salvador</option>
														<option value="GQ">Equatorial Guinea</option>
														<option value="ER">Eritrea</option>
														<option value="EE">Estonia</option>
														<option value="ET">Ethiopia</option>
														<option value="FK">Falkland Islands (Malvinas)</option>
														<option value="FO">Faroe Islands</option>
														<option value="FJ">Fiji</option>
														<option value="FI">Finland</option>
														<option value="FR">France</option>
														<option value="GF">French Guiana</option>
														<option value="PF">French Polynesia</option>
														<option value="TF">French Southern Territories</option>
														<option value="GA">Gabon</option>
														<option value="GM">Gambia</option>
														<option value="GE">Georgia</option>
														<option value="DE">Germany</option>
														<option value="GH">Ghana</option>
														<option value="GI">Gibraltar</option>
														<option value="GR">Greece</option>
														<option value="GL">Greenland</option>
														<option value="GD">Grenada</option>
														<option value="GP">Guadeloupe</option>
														<option value="GU">Guam</option>
														<option value="GT">Guatemala</option>
														<option value="GG">Guernsey</option>
														<option value="GN">Guinea</option>
														<option value="GW">Guinea-Bissau</option>
														<option value="GY">Guyana</option>
														<option value="HT">Haiti</option>
														<option value="HM">Heard Island and McDonald Islands</option>
														<option value="VA">Holy See (Vatican City State)</option>
														<option value="HN">Honduras</option>
														<option value="HK">Hong Kong</option>
														<option value="HU">Hungary</option>
														<option value="IS">Iceland</option>
														<option value="IN">India</option>
														<option value="ID">Indonesia</option>
														<option value="IR">Iran, Islamic Republic of</option>
														<option value="IQ">Iraq</option>
														<option value="IE">Ireland</option>
														<option value="IM">Isle of Man</option>
														<option value="IL">Israel</option>
														<option value="IT">Italy</option>
														<option value="JM">Jamaica</option>
														<option value="JP">Japan</option>
														<option value="JE">Jersey</option>
														<option value="JO">Jordan</option>
														<option value="KZ">Kazakhstan</option>
														<option value="KE">Kenya</option>
														<option value="KI">Kiribati</option>
														<option value="KP">Korea, Democratic People's Republic of</option>
														<option value="KR">Korea, Republic of</option>
														<option value="KW">Kuwait</option>
														<option value="KG">Kyrgyzstan</option>
														<option value="LA">Lao People's Democratic Republic</option>
														<option value="LV">Latvia</option>
														<option value="LB">Lebanon</option>
														<option value="LS">Lesotho</option>
														<option value="LR">Liberia</option>
														<option value="LY">Libya</option>
														<option value="LI">Liechtenstein</option>
														<option value="LT">Lithuania</option>
														<option value="LU">Luxembourg</option>
														<option value="MO">Macao</option>
														<option value="MK">Macedonia, the former Yugoslav Republic of</option>
														<option value="MG">Madagascar</option>
														<option value="MW">Malawi</option>
														<option value="MY">Malaysia</option>
														<option value="MV">Maldives</option>
														<option value="ML">Mali</option>
														<option value="MT">Malta</option>
														<option value="MH">Marshall Islands</option>
														<option value="MQ">Martinique</option>
														<option value="MR">Mauritania</option>
														<option value="MU">Mauritius</option>
														<option value="YT">Mayotte</option>
														<option value="MX">Mexico</option>
														<option value="FM">Micronesia, Federated States of</option>
														<option value="MD">Moldova, Republic of</option>
														<option value="MC">Monaco</option>
														<option value="MN">Mongolia</option>
														<option value="ME">Montenegro</option>
														<option value="MS">Montserrat</option>
														<option value="MA">Morocco</option>
														<option value="MZ">Mozambique</option>
														<option value="MM">Myanmar</option>
														<option value="NA">Namibia</option>
														<option value="NR">Nauru</option>
														<option value="NP">Nepal</option>
														<option value="NL">Netherlands</option>
														<option value="NC">New Caledonia</option>
														<option value="NZ">New Zealand</option>
														<option value="NI">Nicaragua</option>
														<option value="NE">Niger</option>
														<option value="NG">Nigeria</option>
														<option value="NU">Niue</option>
														<option value="NF">Norfolk Island</option>
														<option value="MP">Northern Mariana Islands</option>
														<option value="NO">Norway</option>
														<option value="OM">Oman</option>
														<option value="PK">Pakistan</option>
														<option value="PW">Palau</option>
														<option value="PS">Palestinian Territory, Occupied</option>
														<option value="PA">Panama</option>
														<option value="PG">Papua New Guinea</option>
														<option value="PY">Paraguay</option>
														<option value="PH">Philippines</option>
														<option value="PN">Pitcairn</option>
														<option value="PL">Poland</option>
														<option value="PT">Portugal</option>
														<option value="PR">Puerto Rico</option>
														<option value="QA">Qatar</option>
														<option value="RE">Réunion</option>
														<option value="RO">Romania</option>
														<option value="RU">Russian Federation</option>
														<option value="RW">Rwanda</option>
														<option value="BL">Saint Barthélemy</option>
														<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
														<option value="KN">Saint Kitts and Nevis</option>
														<option value="LC">Saint Lucia</option>
														<option value="MF">Saint Martin (French part)</option>
														<option value="PM">Saint Pierre and Miquelon</option>
														<option value="VC">Saint Vincent and the Grenadines</option>
														<option value="WS">Samoa</option>
														<option value="SM">San Marino</option>
														<option value="ST">Sao Tome and Principe</option>
														<option value="SA">Saudi Arabia</option>
														<option value="SN">Senegal</option>
														<option value="RS">Serbia</option>
														<option value="SC">Seychelles</option>
														<option value="SL">Sierra Leone</option>
														<option value="SG">Singapore</option>
														<option value="SX">Sint Maarten (Dutch part)</option>
														<option value="SK">Slovakia</option>
														<option value="SI">Slovenia</option>
														<option value="SB">Solomon Islands</option>
														<option value="SO">Somalia</option>
														<option value="ZA">South Africa</option>
														<option value="GS">South Georgia and the South Sandwich Islands</option>
														<option value="SS">South Sudan</option>
														<option value="ES">Spain</option>
														<option value="LK">Sri Lanka</option>
														<option value="SD">Sudan</option>
														<option value="SR">Suriname</option>
														<option value="SJ">Svalbard and Jan Mayen</option>
														<option value="SZ">Swaziland</option>
														<option value="SE">Sweden</option>
														<option value="CH">Switzerland</option>
														<option value="SY">Syrian Arab Republic</option>
														<option value="TW">Taiwan, Province of China</option>
														<option value="TJ">Tajikistan</option>
														<option value="TZ">Tanzania, United Republic of</option>
														<option value="TH">Thailand</option>
														<option value="TL">Timor-Leste</option>
														<option value="TG">Togo</option>
														<option value="TK">Tokelau</option>
														<option value="TO">Tonga</option>
														<option value="TT">Trinidad and Tobago</option>
														<option value="TN">Tunisia</option>
														<option value="TR">Turkey</option>
														<option value="TM">Turkmenistan</option>
														<option value="TC">Turks and Caicos Islands</option>
														<option value="TV">Tuvalu</option>
														<option value="UG">Uganda</option>
														<option value="UA">Ukraine</option>
														<option value="AE">United Arab Emirates</option>
														<option value="GB">United Kingdom</option>
														<option value="US">United States</option>
														<option value="UM">United States Minor Outlying Islands</option>
														<option value="UY">Uruguay</option>
														<option value="UZ">Uzbekistan</option>
														<option value="VU">Vanuatu</option>
														<option value="VE">Venezuela, Bolivarian Republic of</option>
														<option value="VN">Viet Nam</option>
														<option value="VG">Virgin Islands, British</option>
														<option value="VI">Virgin Islands, U.S.</option>
														<option value="WF">Wallis and Futuna</option>
														<option value="EH">Western Sahara</option>
														<option value="YE">Yemen</option>
														<option value="ZM">Zambia</option>
														<option value="ZW">Zimbabwe</option>
													</select>
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Código Postal</label>
													<input type="text" minlength="5" maxlength="8" class="form-control" name="ciudad" id="fd_email" placeholder="Código Postal" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_email" class="sr-only">Direccion y Distrito</label>
													<input type="text" minlength="5" maxlength="100" class="form-control" name="direccion" id="fd_email" placeholder="Direccion y Distrito" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Telefono</label>
													<input type="text" class="form-control" name="telefono" id="fd_name" placeholder="Telefono" onkeypress="return isInteger(event)" onpaste="return false" ondragover="return false" minlength="7" maxlength="12" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Nombre del Representante</label>
													<input type="text" class="form-control" name="nombre" id="fd_name" placeholder="Nombre del Representante" minlength="2" maxlength="50" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Apellido del Representante</label>
													<input type="text" class="form-control" name="apellidos" id="fd_name" placeholder="Apellido del Representante" minlength="2" maxlength="50" required="" aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_email" class="sr-only">Cargo en la Empresa</label>
													<input type="text" class="form-control" name="cargo_empresa" id="fd_email" placeholder="Cargo en la Empresa" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_email" class="sr-only">Correo del Representante</label>
													<input type="email" class="form-control" name="correo" id="fd_email" placeholder="Correo del Representante" minlength="5" maxlength="50" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_name" class="sr-only">Contraseña</label>
													<input type="password" class="form-control" name="contrasena" id="fd_name" placeholder="Contraseña" minlength="6" required aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label for="fd_email" class="sr-only">Repetir Contraseña</label>
													<input type="password" class="form-control" name="contrasena2" id="fd_email" placeholder="Repetir Contraseña" minlength="6" required="" aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
											<!-- <div class="col-sm-6">
												<div class="form-group">
													<label for="fd_email" class="sr-only">Codigo de Vendedor</label>
													<input type="number" class="form-control" name="codigo_vendedor" id="fd_email" placeholder="Codigo de Vendedor (Opcional)" aria-required="true">
													<span class="error-label"></span>
													<span class="valid-label"></span>
												</div>
											</div>
										</div> -->
										<div class="row space-top">
											<div class="col-sm-6">

											</div>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-lg-7 col-lg-offset-5 col-md-8 col-md-offset-4 col-sm-12">
														<button type="submit" class="btn btn-ghost btn-block btn-sm btn-primary">Registrar</button>
													</div>
												</div>
											</div>
										</div>
										<input type="hidden" name="plan" id="planForm" value="SIMPLE" />
										{% csrf_token %}
									</form>
									<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>







	</div><!-- Content Wrap End -->

	<!-- Footer -->
	<footer class="footer padding-top-3x">
		<div class="container space-top">
			<!-- Footer Head -->
			<div class="footer-head">
				<div class="logo">
					<a href="#" class="srollup"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></a>
				</div>
				<div class="info">
					<h2>Wandercoon</h2>
					<span>18+</span>
					<div class="rating">
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<i class="bi-star"></i>
						<span>(33)</span>
					</div>
					<a href="#" class="btn btn-ghost btn-plus btn-primary btn-sm">Get</a>
				</div>
			</div>
			<div class="body padding-top-2x">
				<!-- Copyright -->
				<div class="column copyright">
					<p>2016 &copy; <a href="http://8guild.com/" target="_blank">Wandercoon</a>.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer End -->

	<!-- Javascript (jQuery) Libraries and Plugins -->
	<script src="{% static 'web/js/libs/jquery-2.1.3.min.js' %}"></script>
	<script src="{% static 'web/js/libs/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'web/js/plugins/velocity.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/bootstrap.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/smoothscroll.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/form-plugins.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'web/js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'web/js/scripts.js' %}"></script>
	{% if request.user.is_authenticated %}
	<script type="text/javascript">
		$('a[data-modal-form="sign-in"]').on('click', function(e){
			e.preventDefault();
			window.location = '/panel';
		});
		$(".whole").on("click","a",function(){
			event.preventDefault();
			$(".plan").removeClass("selected");
			$(this).closest(".whole").find(".plan").addClass("selected");

			var plan = $(this).parent().parent().siblings('.type').find('p').text().toUpperCase();
			$('#planForm').val(plan);

		});
		function isInteger(event){
			return event.charCode >= 48 && event.charCode <= 57;
		}
	</script>
	{% endif %}
</body><!-- Body End-->
</html>
