{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Wandercoon</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link href="{% static 'web/css/style.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'web/js/plugins/pace.min.js' %}"></script>
	<script src="{% static 'web/js/libs/modernizr.custom.js' %}"></script>
	<script src="{% static 'web/js/libs/detectizr.min.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

</head>

<!-- Body -->
<!-- Remove '.fixed-footer' from body to disable fixed footer reveal on scroll -->
<body class="fixed-footer">

	<!-- Preloader -->
	<div id="preloader">
		<div class="logo">
			<img src="{% static 'web/images/logo.png' %}" alt="Appica 2">
		</div>
	</div>

	<!-- Fake scrollbar (when open popups/modals) -->
	<div class="fake-scrollbar"></div>

	<!-- Off-canvas Navigation -->
	<div class="offcanvas-nav">
		<!-- Head (Fixed Part) -->
		<div class="nav-head">
			<div class="top-bar">
				<div class="nav-toggle" data-offcanvas="close"><i class="flaticon-list26"></i></div>
				<form class="search-box">
					<span class="search-toggle search-icon"></span>
					<input type="text" id="search-field">
					<button type="submit" class="search-btn"><i class="search-icon"></i></button>
				</form>
				<div class="social-buttons">
					<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
					<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
					<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
				</div>
			</div>
			<a href="#" class="offcanvas-logo scrollup">
				<div class="icon"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></div>
				<div class="title">
					Wandercoon
					<span>Travel App</span>
				</div>
			</a>
			<a href="#" class="btn btn-ghost btn-light icon-left"></i>Soon on the App Store & Play Store</a>
			<!-- <a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-up" class="nav-link">Registrate</a> -->
			<!-- <a href="#" data-toggle="modal" data-target="#" data-modal-form="sign-up" class="nav-link">Registrate</a> -->
			<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="text-smaller text-warning">Log in</a>
		</div>
		<!-- Body (Scroll Part) -->

	</div><!-- Off-canvas Navigation End -->

	<!--Modal (Signin/Signup Page)-->
	<div class="modal fade" id="signin-page">
		<div class="modal-dialog">
			<div class="container">
				<div class="modal-form">
					<div class="tab-content">
						<!-- Sign in form -->
						<form class="tab-pane transition scale fade in active" id="signin-form" autocomplete="off" method="post" action="/login/">
							<h3 class="modal-title">Ingresa</h3>
							<div class="form-group space-top-2x">
								<label for="si_email" class="sr-only">Usuario</label>
								<input type="text" class="form-control" name="usuario" id="si_email" placeholder="Usuario" readonly onfocus="$(this).removeAttr('readonly');" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="si-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="contrasena" id="si-password" placeholder="Password" readonly onfocus="$(this).removeAttr('readonly');" required>
								<a class="helper-link" href="#">Forgot your password?</a>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">New to Wandercoon? <a href="#form-1">Sign up!</a></div>
							<input type="hidden" name="accion" value="entrar" />
							{% csrf_token %}
						</form>
						<!-- Sign up form -->
						<form class="tab-pane transition scale fade" id="signup-form">
							{% csrf_token %}
							<h3 class="modal-title">Sign up</h3>
							<div class="form-group space-top-2x">
								<label for="su-usuario" class="sr-only">User</label>
								<input type="text" class="form-control" name="su-usuario" id="su-usuario" placeholder="Usuario" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group space-top-2x">
								<label for="su-email" class="sr-only">Email</label>
								<input type="text" class="form-control" name="su-email" id="su-email" placeholder="Correo" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-telefono" class="sr-only">Mobile number</label>
								<input type="telefono" class="form-control" name="su-telefono" id="su-telefono" placeholder="Telefono" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="su-password" id="su-password" placeholder="Password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="form-group">
								<label for="su-password-repeat" class="sr-only">Re-enter password</label>
								<input type="password" class="form-control" name="su-password-repeat" id="su-password-repeat" placeholder="Repeat password" required>
								<span class="error-label"></span>
								<span class="valid-label"></span>
							</div>
							<div class="space-top-2x clearfix">
								<button type="button" class="btn-round btn-ghost btn-danger pull-left" data-dismiss="modal"><i class="flaticon-cross37"></i></button>
								<button type="submit" class="btn-round btn-ghost btn-success pull-right"><i class="flaticon-correct7"></i></button>
							</div>
							<input type="hidden" name="registro" val="1" />
							<!-- Switching forms (Fake nav tab) -->
							<div class="form-switch helper-text space-top-2x">Already a member? <a href="#form-2">Log in</a></div>
						</form>
					</div>
					<!-- Hidden real nav tabs -->
					<ul class="nav-tabs hidden">
						<li id="form-1"><a href="#signup-form" data-toggle="tab">Sign in</a></li>
						<li id="form-2"><a href="#signin-form" data-toggle="tab">Log in</a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Intro Section -->
	<section class="intro" style="background: #00557e;">
		<div class="gradient" style="background: #00557e !important;"></div>
		<div class="container-fluid">
			<div class="column-wrap">

				<!-- Left Column -->
				<div class="column c-left">
					<!-- Social Buttons -->
					<div class="social-buttons" style="margin-top:-35px;">
						<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
						<a href="#" class="sb-google-plus"><i class="bi-instagram"></i></a>
						<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
					</div>

					<!-- Scroll for More Button -->
					<a href="#features" class="scroll-more scroll" data-offset-top="80" style="margin-left: 45%;">
						<i class="icon"></i>
						<span>Scroll down</span>
					</a>
				</div>

				<!-- Middle Column-->
				<div class="column c-middle">
					<h1 class="logo">
						<img src="{% static 'web/images/wandercoon_logo.png' %}" alt="Appica 2">
					</h1>
					<div class="phone">
					<!-- no Screen sobrepuesta
						<img src="{% static 'web/img/intro/screen_pink.png' %}" alt="App Screen">
					-->
					</div>
				</div>

				<!-- Right Column-->
				<div class="column c-right">
					<!-- Navi -->
					<div class="navi">
						<a href="..">Spanish</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in">Log in</a>
						<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
					</div>
					<!-- Features -->
					<div class="intro-features">
						<div class="icon-block icon-block-horizontal light-color" data-transition-delay="100">
							<div class="icon"><i class="flaticon-viajar"></i></div>
							<div class="text">
								<h3>Discover</h3>
								<p>Explore new places according to<span style="font-weight: bold;"> your <br />interests</span> and be part of the local culture.</p>
							</div>
						</div>
						<div class="icon-block icon-block-horizontal light-color" data-transition-delay="300">
							<div class="icon"><i class="flaticon-formas"></i></div>
							<div class="text">
								<h3>Share</h3>
								<p>Exchange<span style="font-weight: bold;"> Routes</span> with other travelers<br /> and recommend your experiences.</p>
							</div>
						</div>
						<div class="icon-block icon-block-horizontal light-color" data-transition-delay="500">
							<div class="icon"><i class="flaticon-tecnologia"></i></div>
							<div class="text">
								<h3>Connect</h3>
								<p>Get<span style="font-weight: bold;"> free WiFi</span> in our<span style="font-weight: bold;"> WanderDens!</span><br /> These hotspots are the perfect place<br /> to chill out and meet people.</p>
							</div>
						</div>
					</div>
					<!-- Download Button -->
					<div class="download">
						<!-- <p>Desde el 22 de Abril</p> -->
						<a href="#" class="btn btn-default btn-app-store" style="margin-right: 50%;">

							<div>
								<span>Soon available on the</span>
								App Store & Play Store
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- Intro Section End -->

	<!-- Content Wrap -->
	<div class="content-wrap">

		<!-- Navbar -->
		<!-- Add '.navbar-sticky' to make navbar stuck to top on document scroll -->
		<header class="navbar gray navbar-sticky">
			<div class="container-fluid">
				<div class="row">
					<!-- Social Buttons -->
					<div class="col-xs-3 social-buttons">
						<a href="#" class="sb-twitter"><i class="bi-twitter"></i></a>
						<a href="#" class="sb-instagram"><i class="bi-instagram"></i></a>
						<a href="#" class="sb-facebook"><i class="bi-facebook"></i></a>
					</div>
					<!-- Logo -->
					<center>
						<a href="#" class="col-xs-8 logo scrollup">
							<img src="{% static 'images/logo_barra.png' %}" alt="Appica 2" style="width: 20%;">
						</a>
					</center>
					<!-- Toolbar -->
					<div class="col-xs-3 toolbar" style="margin-top: -50px;">
						<!-- <span>Desde el 22 de Abril</span> -->
						<a href="#" class="btn btn-default icon-left" style="color: #fff;">Coming soon</a>
						<a href="#" data-toggle="modal" data-target="#signin-page" data-modal-form="sign-in" class="action-btn">Log in</a>
						<div class="nav-toggle" data-offcanvas="open"><i class="flaticon-list26"></i></div>
					</div>
				</div>
			</div>
		</header><!-- Navbar End -->

		<!-- Feature Tabs -->
		<section class="fw-bg bg-align-bottom feature-tabs" style="background: #fff;" id="features">
			<!-- Heading when columns stack -->
			<div class="block-heading light-color visible-when-stack">
				<h2 style="font-weight: 100 !important;">Why Wandercoon?</h2>
				<span style="color: black !important; font-weight: 100;">A new way to explore</span>
			</div>
			<div class="clearfix">
				<!-- Devices -->
				<div class="devices">
					<div class="tablet">
						<img src="{% static 'web/img/features/ipad.png' %}" alt="iPad">
						<div class="mask">
							<ul class="screens">
								<li class="active in" id="ts01"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 01"></li>
								<li id="ts02"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 02"></li>
								<li id="ts03"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 03"></li>
								<li id="ts04"><img src="{% static 'web/img/features/tablet/screen_pink.png' %}" alt="Screen 04"></li>
							</ul>
						</div>
					</div>
					<div class="phone">
						<img src="{% static 'web/img/features/iphone_black.png' %}" alt="iPhone">
						<div class="mask">
							<ul class="screens">
								<li class="active in" id="ps01"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 01"></li>
								<li id="ps02"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 02"></li>
								<li id="ps03"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 03"></li>
								<li id="ps04"><img src="{% static 'web/img/features/phone/screen_rutas.png' %}" alt="Screen 04"></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Tabs -->
				<div class="tabs light-color text-center">
					<div class="block-heading hidden-when-stack">
						<h2 style="font-weight: bold;">Why Wandercoon?</h2>
						<span style="color: black !important; opacity: 15;">What we offer:</span>
					</div>
					<!-- Nav Tabs -->
					<!-- Remove data-autoswitch="true" to disable automatic tabs change. -->
					<ul class="nav-tabs" data-autoswitch="true" data-interval="5000">
						<li class="active"><a href="#video-player" data-toggle="tab" data-tablet="#ts01" data-phone="#ps01"><i class="flaticon-herramienta" style="color: #00557e;"></i></a></li>
						<li><a href="#settings" data-toggle="tab" data-tablet="#ts02" data-phone="#ps02"><i class="flaticon-icon-69434" style="color: #00557e;"></i></a></li>
						<li><a href="#file-sharing" data-toggle="tab" data-tablet="#ts03" data-phone="#ps03"><i class="flaticon-tecnologia-1" style="color: #00557e;"></i></a></li>
						<li><a href="#chat" data-toggle="tab" data-tablet="#ts04" data-phone="#ps04"><i class="flaticon-herramienta-1" style="color: #00557e;"></i></a></li>
					</ul>
					<!-- Tab panes -->
					<!-- Use different transitions: 'scale', 'scaleup', 'top', 'bottom', 'left', 'right' and 'flip' -->
					<div class="tab-content">
						<div class="tab-pane transition scale fade in active" id="video-player">
							<h3 style="font-weight: bold;">Practical</h3>
							<p style="color: black; opacity: 15;">This app is very easy and fun to use.</p>
						</div>
						<div class="tab-pane transition scale fade" id="settings">
							<h3 style="font-weight: bold;">GPS</h3>
							<p style="color: black; opacity: 15;">Get adventurous and explore the city on your own. You won't get lost!</p>
						</div>
						<div class="tab-pane transition scale fade" id="file-sharing">
							<h3 style="font-weight: bold;">Offline browsing</h3>
							<p style="color: black; opacity: 15;">Enjoy Wandercoon everywhere, even without Internet connection.</p>
						</div>
						<div class="tab-pane transition scale fade" id="chat">
							<h3 style="font-weight: bold;">Free</h3>
							<p style="color: black; opacity: 15;">Our service is and will always be free for our travellers.</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- Feature Tabs End -->



		<!-- Video Block -->
		<!-- <section class="fw-bg overlay gradient-blue-green bg-align-bottom video-block" style="background-image: url({% static 'web/img/video-bg.jpg' %});" id="video">
			<div class="container">
				<a class="video-popup" href="http://vimeo.com/113575647">
					<i class="flaticon-play33"></i>
					Video Presentation
				</a>
			</div>
		</section> -->
		<!-- Video Block End -->



		<!-- Press Reviews -->
		<section id="reviews">
			<hr>
			<div class="block-heading">
			<p>&nbsp;</p>
			<div class="container padding-bottom">
				<!-- Badge -->

				<!-- Reviews -->
				<div class="row">
					<div class="col-sm-4">
						<div class="press-review">
							<img src="{% static 'web/img/press-reviews/fashion2-03.png' %}" alt="New Odessa Times">
							<h3 style="color: #00557e; font-weight: bold;">Travel like you want</h3>
							<p>Our personalized service will help you find</p><p><span style="font-weight: bold;">activity plans that just fit you right.</span></p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="press-review">
							<img src="{% static 'web/img/press-reviews/aventurero2-03.png' %}" alt="Navigator">
							<h3 style="color: #e0a300; font-weight: bold;">Experience life</h3>
							<p>Create your own Routes, share them, <br />take other's recommendations<span style="font-weight: bold;"> and start your adventure.</span></p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="press-review">
								<img src="{% static 'web/img/press-reviews/investigador.png' %}" alt="Appicavillage">
								<h3 style="color: #00557e; font-weight: bold;">Meet other travelers</h3>
								<p>Soon you'll hear about our <span style="font-weight: bold;">new communication system.</span></p><p>Stay tuned!</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="press-review">
								<img src="{% static 'web/img/press-reviews/culinario2-03.png' %}" alt="Tap-Tap Time">
								<h3 style="color: #00557e; font-weight: bold;">Save money</h3>
								<p>Take advantage of our gifts and discounts, and do more without breaking your budget.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="press-review">
								<img src="{% static 'web/images/logo_pin.png' %}" alt="iCaravely">
								<h3 style="color: #00557e; font-weight: bold;">Stop by the WanderDens</h3>
								<p>Connect to the world from our <span style="font-weight: bold;">Hotspots Network.<br /> Get free WiFi, tasty snacks, and more.</span></p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="press-review">
									<img src="{% static 'web/img/press-reviews/fiesta.png' %}" alt="MooDesign">
									<h3 style="color: #00557e; font-weight: bold;">Play</h3>
									<p>There are places that you can't miss!</p><p><span style="font-weight: bold;">Visit them in order to win budgets. <br />You'll level up and get awesome rewards.</span></p>
								</div>
							</div>
						</div>
					</div>
					<br />
					<br	/>
				</section><!-- Press Reviews End -->




				<!-- Web Application -->
				<section class="fw-bg" style="background: #fff;" id="web-app">
					<br />
					<br	/>
					<div class="container light-color" style="color: #00557e !important;">
						<div class="block-heading">
							<h2 style="font-weight: bold;">Are you a business owner?</h2>
							<span>Be part of the community!</span>
						</div>
						<div class="row space-top-3x">
							<div class="col-md-4" style="margin-top: -3%;">
								<img class="img-responsive" src="{% static 'web/img/webapp/mundo.png' %}" alt="Mundo" width="90%">
							</div>
							<div class="col-md-5">
									<div class="text">
										<h3>Get listed!</h3>
										<p>Put your business information on the travelers' map and be part of their journey. Welcome them everyday!</p>
										<p><a target="_blank" href="/media/files/Wandercoon - Brochure.pdf" style="color: #00557e !important;">Download a<span style="font-weight: bold;"> brochure</span> to get more information!<img src="{% static 'web/img/webapp/download.png' %}" width="7%" alt="Descarga"></a></p>
										<p class="space-top"></p>
										<!-- Download Button -->
										<a href="/registro/empresa/" class="btn btn-default btn-app-store">

											<div>
												<span>Enroll as an owner in</span>
												Wandercoon
											</div>
										</a>
									</div>
							</div>
							<!-- No iPhone
							<div class="col-md-4" style="margin-top: -18%; margin-right: -20%; margin-left: 5%;">
								<img src="{% static 'web/img/webapp/iphone.png' %}" width="84%" alt="Web App">
							</div>
						-->
						</div>
					</div>
				</section><!-- Web Application End -->

			</div><!-- Content Wrap End -->

			<!-- Footer -->
			<footer class="footer padding-top-3x">
				<div class="container space-top">
					<!-- Footer Head -->
					<div class="footer-head">
						<div class="logo">
							<a href="#" class="srollup"><img src="{% static 'web/images/logo.png' %}" alt="Appica 2"></a>
						</div>
						<div class="info">
							<h2>Wandercoon</h2>
							<p>Travel App</p>
							<span>14+</span>
							<div class="rating">
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<i class="bi-star"></i>
								<span>(33)</span>
							</div>
							<a href="#" class="btn btn-ghost btn-plus btn-primary btn-sm">Get</a>
						</div>
					</div>
					<div class="body padding-top-2x">
						<!-- Copyright -->
						<div class="column copyright">
							<p>2016 &copy; <a href="#" target="_blank">Wandercoon</a>. <span style="Margin-left: 80%"><a href="mailto:info@wandercoon.com" target="_top">Contact us</a></span></p>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->

			<!-- Javascript (jQuery) Libraries and Plugins -->
			<script src="{% static 'web/js/libs/jquery-2.1.3.min.js' %}"></script>
			<script src="{% static 'web/js/libs/jquery.easing.1.3.js' %}"></script>
			<script src="{% static 'web/js/plugins/velocity.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/bootstrap.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/smoothscroll.js' %}"></script>
			<script src="{% static 'web/js/plugins/jquery.waypoints.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/form-plugins.js' %}"></script>
			<script src="{% static 'web/js/plugins/jquery.magnific-popup.min.js' %}"></script>
			<script src="{% static 'web/js/plugins/jquery.mCustomScrollbar.min.js' %}"></script>
			<script src="{% static 'web/js/scripts.js' %}"></script>
			{% if request.user.is_authenticated %}
			<script type="text/javascript">
				$('a[data-modal-form="sign-in"]').on('click', function(e){
					e.preventDefault();
					window.location = '/panel';
				});

			</script>
			{% endif %}
			{% if messages %}

			{% for message in messages %}
			<script>
				alert('{{ message }}');
			</script>
			{% endfor %}
			{% endif %}
		</body><!-- Body End-->
		</html>
