{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}Mis Locales{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}">
{% endblock %}

{% block contenido %}
<style type="text/css">
	#map { height: 400px; }

	.alert-box {
		color:#555;
		border-radius:10px;
		font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
		padding:10px 10px 10px 36px;
		margin:10px;
	}
	.alert-box span {
		font-weight:bold;
		text-transform:uppercase;
	}
	.notice {
		background:#ffecec;
		border:1px solid #f5aca6;
	}
</style>
<div class="page-head">
	<div class="page-title">
		<h1>{{local.nombre}}</h1>
	</div>

	<div class="row azulito " style="background: #fff; margin-top: -10px; margin-left: -20px; width: 102.2%; height: 1686px;">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<hr />
				<form id="local_edit" role="form" enctype="multipart/form-data" method="post">
					<div class="form-body">
						{% if local.imagen %}
						<img src="{{local.imagen.url}}" width="100" />
						{% endif %}
						<div class="form-group">
							<label for="exampleInputFile1">Imagen</label>
							<input type="file" name="imagen" />
							<p class="help-block">
								Logo del establecimiento
							</p>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<div class="form-group">
										<label>Nombre del establecimiento</label>
										<input name="nombre" class="form-control" value="{{local.nombre}}" required />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<div class="form-group">
										<label>Categoria</label>
										<select name="categoria"  class="chosen-select" data-placeholder="Seleccionar Categoria.">
											{% for cat in categorias %}
											<option value="{{cat.id}}">{{cat.nombre}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Telefonos</label>
									<input name="telefonos" class="form-control" value="{{local.telefonos}}" />
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Consumo Promedio (Soles)</label>
									<input name="consumo_promedio" type="number" step="any" class="form-control" value="{{local.consumo_promedio}}" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Horario</label>
							<br />
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									Apertura: <input type="time" name="entrada" class="form-control" value="{{local.hora_entrada}}" />
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									Cierre: <input type="time" name="salida" class="form-control" value="{{local.hora_salir}}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Tags</label>
									<br />
									<select name="tags"  class="chosen-select" multiple data-placeholder="Seleccionar palabras clave para categorizar tu establecimiento.">
										{% for tag in tags %}
										<option value="{{tag.id}}">{{tag.nombre}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Banner</label>
									<br />
									{% if local.expiro_banner %}
									<textarea maxlength="70" name="banner" class="form-control" readonly></textarea>
									{% else %}
									<textarea maxlength="70" name="banner" class="form-control" placeholder="Promociona tus productos, ofertas, eventos, etc.">{{local.banner}}</textarea>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Banner en ingles</label>
									<br />
									{% if local.expiro_banner %}
									<textarea maxlength="70" name="banner_ingles" class="form-control" readonly></textarea>
									{% else %}
									<textarea maxlength="70" name="banner_ingles" class="form-control" placeholder="Promociona tus productos, ofertas, eventos, etc.">{{local.banner_ingles}}</textarea>
									{% endif %}
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Descripción en Español (Máximo 250 caracteres)</label>
									<textarea name="descripcion" id="editor1" class="form-control" rows="10" maxlength="250" placeholder="Escribe una breve descripcion en español de los servicios que brinda tu establecimiento.">{{local.descripcion|safe}}</textarea>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Descripción en Inglés (Máximo 250 caracteres)</label>
									<textarea name="descripcion_ingles" id="editor1" class="form-control" rows="10" maxlength="250" placeholder="Escribe una breve descripcion en ingles de los servicios que brinda tu establecimiento.">{{local.descripcion_ingles|safe}}</textarea>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Direccion del establecimiento</label>
									<textarea name="direccion" id="editor2" class="form-control" rows="10" maxlength="60">{{local.direccion|safe}}</textarea>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="alert-box notice" style="background-color:#e3f7fc;border-color:#8ed9f6;"><center><span>Haz click en la ubicacion de tu establecimiento para colocar el pin.</span></center></div>
							<br />
							<div id="map"></div>
						</div>
					</div>
					<div class="form-actions">
						<!--<button type="button" id="eliminarBtn" class="btn red">Eliminar</button>-->
						<button type="submit" class="btn blue">Guardar</button>
					</div>
					{% csrf_token %}
					<input type="hidden" name="lati" id="lati" value="{{local.lat}}" />
					<input type="hidden" name="longi" id="longi" value="{{local.lon}}" />
				</form>
			</div>

		</div>


	</div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

	console.log('cargo');
	$('#eliminarBtn').on('click', function(e){
		console.log('entro');
		e.preventDefault();

		var r = confirm("Seguro que deseas eliminar {{local.nombre}}");
		if(r == true){
			$.post('/panel/mis-locales/eliminar/{{local.slug}}/', { 'csrfmiddlewaretoken': '{{csrf_token}}', slug: '{{local.slug}}' }, function(resp){
				window.location = '/panel/mis-locales/';
			});
		}
	});

	var map;
	var marker;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			{% if local.lat %}
			center: {lat: {{local.lat}}, lng: {{local.lon}}},
			{% else %}
			center: {lat: -34.397, lng: 150.644},
			{% endif %}
			zoom: 16
		});
		{% if local.lat %}
		var myLatlng = new google.maps.LatLng( {{local.lat}}, {{local.lon}});
		marker = new google.maps.Marker({position: myLatlng, map: map});
		{% endif %}

		google.maps.event.addListener(map, 'click', function(event) {
			if(marker){
				marker.setMap(null);
			}
			marker = new google.maps.Marker({position: event.latLng, map: map});
			$('#lati').val( event.latLng.lat());
			$('#longi').val( event.latLng.lng());
		});

		{% if not local.lat %}
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var pos = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};

				map.setCenter(pos);
			}, function() {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
			handleLocationError(false, infoWindow, map.getCenter());
		}
		{% endif %}
	}
	function handleLocationError(browserHasGeolocation, infoWindow, pos) {

	}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnRYATA64eJpjqpmlKUPHpYYfr_RXMC7g&callback=initMap">
</script>
<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
<script type="text/javascript">
	/*
	CKEDITOR.replace( 'editor1' );
	CKEDITOR.replace( 'editor2' );
	window.onload = function() {
		CKEDITOR.instances.editor1.on( 'key', function() {
			var str = CKEDITOR.instances.editor1.getData();
			if (str.length > 500) {
				CKEDITOR.instances.editor1.setData(str.substring(0, 500));
			}
		} );
		CKEDITOR.instances.editor2.on( 'key', function() {
			var str = CKEDITOR.instances.editor2.getData();
			if (str.length > 500) {
				CKEDITOR.instances.editor2.setData(str.substring(0, 500));
			}
		} );
	};
	*/
</script>
<script src="{% static 'chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
<script type="text/javascript">
	$('input[name="entrada"], input[name="salida"]').timepicker({ 'timeFormat': 'H:i:s', 'step': 5 });
	$(".chosen-select").chosen({width: "100%"});

	{% for tag in local.tags.all %}
	$("select[name='tags'] option[value='{{tag.id}}']").prop('selected', true);
	{% endfor %}
	$("select[name='categoria'] option[value='{{local.categoria.id}}']").prop('selected', true);
	$(".chosen-select").trigger("chosen:updated");

	$('#local_edit').on('submit', function(e){
		var lat = $('#lati').val();
		var lng = $('#longi').val();
		console.log(lat);
		if(lat == '' || lng == '' || lat == 'None' || lng == 'None')
		{
			e.preventDefault();
			toastr['error']('', 'No se ha marcado el lugar en el mapa');
		}
	});
</script>
{% endblock %}
