{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}Mis Locales{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'chosen/chosen.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.timepicker.css' %}">
{% endblock %}

{% block contenido %}
<style type="text/css">
	#map { height: 400px; }

	.alert-box {
		color:#555;
		border-radius:10px;
		font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
		padding:10px 10px 10px 36px;
		margin:10px;
	}
	.alert-box span {
		font-weight:bold;
		text-transform:uppercase;
	}
	.notice {
		background:#ffecec;
		border:1px solid #f5aca6;
	}
</style>
<div class="page-head">
	<div class="page-title">
		<h1>{{local.nombre}}</h1>
	</div>

	<div class="row azulito " style="background: #fff; margin-top: -10px; margin-left: -20px; width: 102.2%; height: 1680px;">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<hr />
				<form id="local_nuevo" role="form" enctype="multipart/form-data" method="post">
					<div class="form-body">

						<div class="form-group">
							<label for="exampleInputFile1">Imagen</label>
							<input type="file" name="imagen" />
							<p class="help-block">
								Logo del establecimiento
							</p>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<div class="form-group">
										<label>Nombre del establecimiento</label>
										<input name="nombre" class="form-control" required />
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<div class="form-group">
										<label>Categoria</label>
										<select name="categoria"  class="chosen-select" data-placeholder="Seleccionar Categoria.">
											{% for cat in categorias %}
											<option value="{{cat.id}}">{{cat.nombre}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Telefonos</label>
									<input name="telefonos" class="form-control" />
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Consumo Promedio (Soles)</label>
									<input name="consumo_promedio" type="number" step="any" class="form-control" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>Horario</label>
							<br />
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									Apertura: <input type="time" name="entrada" class="form-control" value="{{local.hora_entrada}}" />
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									Cierre: <input type="time" name="salida" class="form-control" value="{{local.hora_salir}}" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Tags</label>
									<br />
									<select name="tags"  class="chosen-select" multiple data-placeholder="Seleccionar palabras clave para categorizar tu establecimiento.">
										{% for tag in tags %}
										<option value="{{tag.id}}">{{tag.nombre}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Banner en Español(Máximo 70 caracteres)</label>
									<br />
									<textarea readonly maxlength="70" name="banner" class="form-control"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Banner en Ingles (Máximo 70 caracteres)</label>
									<br />
									<textarea readonly maxlength="70" name="banner_ingles" class="form-control"></textarea>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Descripcion en Español (Máximo 250 caracteres)</label>
									<textarea name="descripcion" id="editor1" class="form-control" rows="10" maxlength="250" placeholder="Escribe una breve descripcion en español de los servicios que brinda tu establecimiento.">{{local.descripcion|safe}}</textarea>
								</div>
							</div>							
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Descripcion en Inglés (Máximo 250 caracteres)</label>
									<textarea name="descripcion_ingles" id="editor1" class="form-control" rows="10" maxlength="250" placeholder="Escribe una breve descripcion en ingles de los servicios que brinda tu establecimiento.">{{local.descripcion_ingles|safe}}</textarea>
								</div>
							</div>	
							<div class="col-md6 col-sm-6 col-xs-12">
								<div class="form-group">
									<label>Direccion del establecimiento</label>
									<textarea name="direccion" id="editor2" class="form-control" rows="10" maxlength="60"></textarea>
									<br />									
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="alert-box notice" style="background-color:#e3f7fc;border-color:#8ed9f6;"><center><span>Haz click en la ubicacion de tu establecimiento para colocar el pin.</span></center></div>
							<br />
							<div id="map"></div>
						</div>

					</div>
					<div class="form-actions">
						<button type="submit" class="btn blue">Guardar</button>
					</div>
					{% csrf_token %}
					<input type="hidden" name="lati" id="lati"  />
					<input type="hidden" name="longi" id="longi"  />
				</form>
				<br/>
			</div>

		</div>


	</div>

</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">



	var map;
	var marker;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -34.397, lng: 150.644},
			zoom: 16
		});

		google.maps.event.addListener(map, 'click', function(event) {
			if(marker){
				marker.setMap(null);
			}
			marker = new google.maps.Marker({position: event.latLng, map: map});
			$('#lati').val( event.latLng.lat());
			$('#longi').val( event.latLng.lng());
		});

		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				var pos = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};

				map.setCenter(pos);
			}, function() {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
			handleLocationError(false, infoWindow, map.getCenter());
		}
	}
	function handleLocationError(browserHasGeolocation, infoWindow, pos) {

	}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnRYATA64eJpjqpmlKUPHpYYfr_RXMC7g&callback=initMap">
</script>
<script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
<script type="text/javascript">
/*
	CKEDITOR.replace( 'editor1' );
	CKEDITOR.replace( 'editor2' );
	window.onload = function() {
		CKEDITOR.instances.editor1.on( 'key', function() {
			var str = CKEDITOR.instances.editor1.getData();
			if (str.length > 500) {
				CKEDITOR.instances.editor1.setData(str.substring(0, 500));
			}
		} );
		CKEDITOR.instances.editor2.on( 'key', function() {
			var str = CKEDITOR.instances.editor2.getData();
			if (str.length > 500) {
				CKEDITOR.instances.editor2.setData(str.substring(0, 500));
			}
		} );
	};
	*/
</script>
<script src="{% static 'chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>
<script type="text/javascript">
	$('input[name="entrada"], input[name="salida"]').timepicker({ 'timeFormat': 'H:i:s', 'step': 5 });
	$(".chosen-select").chosen({width: "100%"});

	$('#local_nuevo').on('submit', function(e){
		var lat = $('#lati').val();
		var lng = $('#longi').val();
		if(lat == '' || lng == '')
		{
			e.preventDefault();
			toastr['error']('', 'No se ha marcado el lugar en el mapa');
		}
	});
</script>
{% endblock %}
