{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}Mis Locales{% endblock %}

{% block contenido %}
<div class="page-head">
	<div class="page-title">
		<h1>Mis Locales</h1>
	</div>

	<style type="text/css">
		.alert-box {
			color:#555;
			border-radius:10px;
			font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
			padding:10px 10px 10px 36px;
			margin:10px;
		}

		.hoverImage {
			position:absolute;
			display:none;
			white-space:nowrap;
			background-color:none;
			width:600px;
			height:300px;
			z-index:10000;
			pointer-events:none;
		}
	</style>

	<div class="row azulito">
		<div class="col-sm-12">
			<div id="respuesta"></div>
			<div class="col-sm-8">
				<br>
				<h4 style="margin-right: 10px; float: left;
				position: absolute;">Calificacion de tus locales</h4>

				<div class="bmenu">
					<div class ="b1">
						{% if locales.count >= 6 %}
						<div class="dropdown" style="float: left;">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Agregar Local
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="producto itemHover" data-id="2" href="#">
										Inscripción - 12 meses  ($15)
										<div class="hoverImage"><img src="{% static 'web/images/inscripcion.png' %}"></div>
									</a>
								</li>
							</ul>
						</div>
						{% else %}
						<div style="float: left;">
							<a class="pull-right btn blue" href="/panel/mis-locales/nuevo/">Agregar Local</a>
						</div>
						{% endif %}

					</div>
					<div class="b2">
						<div class="dropdown" style="float: right;">
							<button class="pull-right btn green-meadow dropdown-toggle" type="button" data-toggle="dropdown" style="margin-left: 10px;">Comprar para todos
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="producto itemHover" data-todos-combo="2" href="#">
										Verificación & Banner - 12 meses ($120)
										<div class="producto hoverImage"><img src="{% static 'web/images/verificacion.png' %}"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>

				</div>

				<hr />
				{% for local in locales %}
				<p>
					<h3>
						<a href="/panel/mis-locales/{{local.slug}}">{{local.nombre}}</a>

						<div class="dropdown" style="float: right;">
							<button class="pull-right btn green-meadow dropdown-toggle" type="button" data-toggle="dropdown">Comprar
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a class="producto itemHover" data-combo="2" data-lugar="{{local.id}}" href="#">
										Verificación & Banner - 12 meses ($120)
										<div class="hoverImage"><img src="{% static 'web/images/verificacion.png' %}"></div>
									</a>
								</li>
								{% if local.expiro and local.expiracion %}
								<li>
									<a class="producto itemHover" data-combo="6" data-lugar="{{local.id}}" href="#">
										Renovacion - 6 meses  ($50)
										<div class="hoverImage"><img src="{% static 'web/images/renovacion.png' %}"></div>
									</a>
								</li>
								<li>
									<a class="producto itemHover" data-combo="7" data-lugar="{{local.id}}" href="#">
										Renovacion - 12 meses  ($80)
										<div class="hoverImage"><img src="{% static 'web/images/renovacion.png' %}"></div>
									</a>
								</li>
								{% endif %}
							</ul>
						</div>

					</h3>
					{% if not local.expiro %}
					<span class="label label-success" style="font-size: 14px;border-radius: 10px !important;font-weight: bold;">Activo</span>
					{% else %}
					<span class="label label-danger" style="font-size: 14px;border-radius: 10px !important;font-weight: bold;">Inactivo</span>
					{% endif %}
					<br />
					<div class="ec-stars-wrapper">
						<a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
						<a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
						<a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
						<a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
						<a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
					</div>
					<br />
					Numero de Visitas: 0
					<br />
					Veces añadido a rutas personales: 0

				</p>
				<p>&nbsp;</p>
				{% endfor %}
			</div>
			<div class="col-sm-4">
				{% include 'banner.html' %}
			</div>

		</div>


	</div>

</div>
{% endblock %}

{% block scripts %}
<script>
	function msgbox() {
		$('.col-sm-9').hide();
		$('#respuesta').html('<div class="alert-box"><img src="http://clcdn02.mundotkm.com/2016/03/CcGYI-XW8AAputG.jpg"></div>');
		setTimeout(function(){window.location = '/panel';}, 5000);
	};

	$(document).ready(function(){
		$('.itemHover').mouseenter(function(){
			$(this).find('.hoverImage').show();
			var container = $(this);
			var containerOffset = container.offset();
			var largeImage = container.find('.hoverImage');

			$(container).on('mousemove.imageFollow', function(event){
				var left = event.pageX - containerOffset.left + 90;
				var top = event.pageY - containerOffset.top  + -5;
				if(event.clientY + largeImage.height() + 5 >= $(window).height())
					top = $(window).height() - largeImage.height() - containerOffset.top -2;

				largeImage.css('left', left).css('top', top);
			});
		}).mouseleave(function(){
			$(this).off('mousemove.imageFollow');
			$(this).closest('.itemHover').find('.hoverImage').hide();
		});

		$('.producto').on('click', function(){
			var id_producto = $(this).attr('data-id');
			var lugar = $(this).attr('data-lugar');
			var combo = $(this).attr('data-combo');
			var todos = $(this).attr('data-todos');
			var todos_combo = $(this).attr('data-todos-combo');
			if(id_producto == undefined)
			{
				id_producto = "";
			}
			if(lugar == undefined)
			{
				lugar = "";
			}
			if(combo == undefined)
			{
				combo = "";
			}
			if(todos == undefined)
			{
				todos = "";
			}
			if(todos_combo == undefined)
			{
				todos_combo = "";
			}
			$.post('/carrito/agregar/', {'producto': id_producto, 'todos': todos, 'csrfmiddlewaretoken': '{{csrf_token}}', 'lugar': lugar, 'combo': combo, 'todos_combo': todos_combo }, function(res){
				window.location.reload();
			});
		});


		{% if messages %}
		{% for message in messages %}
			toastr['{{message.tags}}']('', '{{message}}');
		{% endfor %}
		{% endif %}

	});
</script>
{% endblock %}
