{% extends 'base.html' %}

{% block titulo %}Detalles de Compra{% endblock %}

{% block contenido %}
<div class="page-head">
	<div class="page-title">
		<h1>Resumen de Compra</h1>
	</div>

	<style type="text/css">
		.CSSTableGenerator {
			margin:0px;padding:0px;
			width:100%;
			border:1px solid #ffffff;
			border-collapse: inherit;

			-moz-border-radius-bottomleft:12px;
			-webkit-border-bottom-left-radius:12px;
			border-bottom-left-radius:12px;

			-moz-border-radius-bottomright:12px;
			-webkit-border-bottom-right-radius:12px;
			border-bottom-right-radius:12px;

			-moz-border-radius-topright:12px;
			-webkit-border-top-right-radius:12px;
			border-top-right-radius:12px;

			-moz-border-radius-topleft:12px;
			-webkit-border-top-left-radius:12px;
			border-top-left-radius:12px;
		}.CSSTableGenerator table{
			border-collapse: collapse;
			border-spacing: 0;
			width:100%;
			height:100%;
			margin:0px;padding:0px;
		}
		.CSSTableGenerator tr:last-child td:last-child {
			-moz-border-radius-bottomright:12px;
			-webkit-border-bottom-right-radius:12px;
			border-bottom-right-radius:12px;
		}
		.CSSTableGenerator table tr:first-child td:first-child {
			-moz-border-radius-topleft:12px;
			-webkit-border-top-left-radius:12px;
			border-top-left-radius:12px;
		}
		.CSSTableGenerator table tr:first-child td:last-child {
			-moz-border-radius-topright:12px;
			-webkit-border-top-right-radius:12px;
			border-top-right-radius:12px;
		}
		.CSSTableGenerator tr:last-child td:first-child{
			-moz-border-radius-bottomleft:12px;
			-webkit-border-bottom-left-radius:12px;
			border-bottom-left-radius:12px;
		}.CSSTableGenerator tr:hover td{
			background-color:#c23c4c;


		}
		.CSSTableGenerator tr.none:hover td{
			background: inherit;


		}
		.CSSTableGenerator td{
			vertical-align:middle;

			background-color:#ffffff;

			border:1px solid #ffffff;
			border-width:0px -0px 0px 0px !important;
			text-align:center;
			padding:9px;
			font-size:12px;
			font-family:Arial;
			font-weight:normal;
			color:#000000;
		}.CSSTableGenerator tr:last-child td{
			border-width:0px 0px 0px 0px !important;
		}.CSSTableGenerator tr td:last-child{
			border-width:0px 0px 0px 0px !important;
			-moz-border-radius-topright:12px !important;
			-webkit-border-top-right-radius:12px !important;
			border-top-left-right:12px !important;

			-moz-border-radius-bottomright:12px !important;
			-webkit-border-bottom-right-radius:12px !important;
			border-bottom-right-radius:12px !important;
		}.CSSTableGenerator tr:last-child td:last-child{
			border-width:0px 0px 0px 0px;
		}
		.CSSTableGenerator tr:first-child td{
			background:-o-linear-gradient(bottom, #005074 5%, #005074 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005074), color-stop(1, #005074) );
			background:-moz-linear-gradient( center top, #005074 5%, #005074 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005074", endColorstr="#005074");	background: -o-linear-gradient(top,#005074,005074);

			background-color:#005074;
			border:0px solid #ffffff;
			text-align:center;
			border-width:0px 0px 1px 1px;
			font-size:15px;
			font-family:Arial;
			font-weight:normal;
			color:#ffffff;
		}
		.CSSTableGenerator tr td:first-child{
			border-width:0px 0px 0px 0px;

			-moz-border-radius-topleft:12px !important;
			-webkit-border-top-left-radius:12px !important;
			border-top-left-radius:12px !important;

			-moz-border-radius-bottomleft:12px !important;
			-webkit-border-bottom-left-radius:12px !important;
			border-bottom-left-radius:12px !important;
		}
		.CSSTableGenerator tr:first-child:hover td{
			background:-o-linear-gradient(bottom, #005074 5%, #005074 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005074), color-stop(1, #005074) );
			background:-moz-linear-gradient( center top, #005074 5%, #005074 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005074", endColorstr="#005074");	background: -o-linear-gradient(top,#005074,005074);

			background-color:#005074;
		}
		.CSSTableGenerator tr:first-child td:first-child{

			ctm

			border-width:0px 0px 0px 0px !important;
			-moz-border-radius-topleft:12px !important;
			-webkit-border-top-left-radius:12px !important;
			border-top-left-radius:12px !important;

			-moz-border-radius-bottomleft:12px !important;
			-webkit-border-bottom-left-radius:12px !important;
			border-bottom-left-radius:12px !important;
		}
		.CSSTableGenerator tr:first-child td:last-child{
			border-width:0px 0px 1px 1px;
			-moz-border-radius-topright:12px !important;
			-webkit-border-top-right-radius:12px !important;
			border-top-right-radius:12px !important;

			-moz-border-radius-bottomright:12px !important;
			-webkit-border-bottom-right-radius:12px !important;
			border-bottom-right-radius:12px !important;
		}
		.alert-box {
			color:#555;
			border-radius:10px;
			font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
			padding:10px 10px 10px 36px;
			margin:10px;
		}
		.alert-box span {
			font-weight:bold;
			text-transform:uppercase;
		}
		.notice {
			background:#e3f7fc;
			border:1px solid #8ed9f6;
		}
	</style>
	<style type="text/css">

	</style>




	<div class="row azulito">
		<div class="col-sm-12">
			<div class="col-sm-12">
				<hr>
				<strong><h3>No. de Pedido: {{compra.pk}}</h3></strong>
				<br />
				<div class="CSSTableGenerator" >
					<table >
						<tr>
							<td>Codigo</td>
							<td>Servicio</td>
							<td>Cantidad</td>
							<td>Tiendas</td>
							<td>Precio Unitario</td>
							<td>SubTotal</td>
						</tr>
						{% for item in cart %}
						<tr>
							{% if item.combo %}
							<td>{{item.combo.pk}}</td>
							<td>{{item.combo.nombre}}</td>
							{% else %}
							<td>{{item.producto.pk}}</td>
							<td>{{item.producto.nombre}}</td>
							{% endif %}
							<td>{{item.cantidad}}</td>
							<td>
								{% if item.local %}
								{{item.local.nombre}}
								{% endif %}
							</td>
							{% if item.combo %}
							<td>{{item.combo.precio}}</td>
							{% else %}
							{% if item.producto.precio_promocion %}
							<td>{{item.producto.precio_promocion}}</td>
							{% else %}
							<td>{{item.producto.precio}}</td>
							{% endif %}
							{% endif %}
							<td>${{item.total}}</td>
						</tr>
						{% endfor %}
						<tr class="none">
							<td colspan="3"></td>
						</tr>
						<tr>
							<td colspan="4"></td>
							<td><strong>Subtotal:</strong></td>
							<td><strong>${{subtotal|floatformat:2}}</strong></td>
						</tr>
						<tr>
							<td colspan="4"></td>
							<td><strong>IGV:</strong></td>
							<td><strong>${{igv|floatformat:2}}</strong></td>
						</tr>
						<tr>
							<td colspan="4"></td>
							<td><strong>Total:</strong></td>
							<td><strong>${{total|floatformat:2}}</strong></td>
						</tr>
					</table>
				</div>


				<br />
				<center>
					<div id="respuesta">
					</div>
					{% if compra.informacion_venta %}
					<input id="termsCheck" type="checkbox" onclick="checkTerms()" />
					<span style="font-size: 10pt">Al pagar usted estara aceptando los <span class="terminos"><a target="_blank" href="/legal/">Terminos y Condiciones</a></span></span>
					<p><br /></p>
					<button id="btn_pagar" class="btn btn-primary disabled" disabled>Pagar</button>
					{% else %}
					<button id="btn_pagar" class="btn btn-primary" data-toggle="modal" href="#cart_buy">Continuar</button>
					{% endif %}
				</center>
			</div>
			<div id="aviso-movil-horizontal">
				Por favor, coloca tu móvil en horizontal.
			</div>
		</div>


	</div>

</div>
<div id="cart_buy" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Verificacion de Datos</h4>
			</div>
			<div class="modal-body">
				<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 400px;">
					<div class="scroller" style="height: 400px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
						<form id="formPago" method="post">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="fd_name">Nombre</label>
										<input type="text" class="form-control" name="nombre" id="fd_name" placeholder="Nombre" data-validation="length" data-validation-length="2-50" required aria-required="true" value="{{request.user.first_name}}">
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
									<div class="form-group">
										<label for="fd_name" >Correo</label>
										<input type="email" class="form-control" name="correo" id="fd_name" placeholder="Correo" minlength="5" maxlength="50" required aria-required="true" value="{{request.user.email}}" readonly>
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
									<div class="form-group">
										<label for="fd_name" >Ciudad</label>
										<input type="text" class="form-control" name="ciudad" id="fd_name" placeholder="Ciudad" data-validation="required" required aria-required="true" value="{{request.user.usuarioinformacion.ciudad}}">
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
									<div class="form-group">
										<label for="fd_name" >Telefono</label>
										<input type="text" class="form-control" name="telefono" id="fd_name" placeholder="Telefono" data-validation="number length" data-validation-length="7-12" required aria-required="true" value="{{request.user.usuarioinformacion.telefono}}">
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="fd_name" >Apellidos</label>
										<input type="text" class="form-control" name="apellido" id="fd_name" placeholder="Apellidos" data-validation="length" data-validation-length="2-50" required aria-required="true" value="{{request.user.last_name}}">
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
									<div class="form-group">
										<label for="fd_name" >Pais</label>
										<select class="form-control" name="pais" required>
											<option value="PE">Peru</option>
											<option value="AF">Afghanistan</option>
											<option value="AX">Åland Islands</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AS">American Samoa</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
											<option value="AQ">Antarctica</option>
											<option value="AG">Antigua and Barbuda</option>
											<option value="AR">Argentina</option>
											<option value="AM">Armenia</option>
											<option value="AW">Aruba</option>
											<option value="AU">Australia</option>
											<option value="AT">Austria</option>
											<option value="AZ">Azerbaijan</option>
											<option value="BS">Bahamas</option>
											<option value="BH">Bahrain</option>
											<option value="BD">Bangladesh</option>
											<option value="BB">Barbados</option>
											<option value="BY">Belarus</option>
											<option value="BE">Belgium</option>
											<option value="BZ">Belize</option>
											<option value="BJ">Benin</option>
											<option value="BM">Bermuda</option>
											<option value="BT">Bhutan</option>
											<option value="BO">Bolivia, Plurinational State of</option>
											<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
											<option value="BA">Bosnia and Herzegovina</option>
											<option value="BW">Botswana</option>
											<option value="BV">Bouvet Island</option>
											<option value="BR">Brazil</option>
											<option value="IO">British Indian Ocean Territory</option>
											<option value="BN">Brunei Darussalam</option>
											<option value="BG">Bulgaria</option>
											<option value="BF">Burkina Faso</option>
											<option value="BI">Burundi</option>
											<option value="KH">Cambodia</option>
											<option value="CM">Cameroon</option>
											<option value="CA">Canada</option>
											<option value="CV">Cape Verde</option>
											<option value="KY">Cayman Islands</option>
											<option value="CF">Central African Republic</option>
											<option value="TD">Chad</option>
											<option value="CL">Chile</option>
											<option value="CN">China</option>
											<option value="CX">Christmas Island</option>
											<option value="CC">Cocos (Keeling) Islands</option>
											<option value="CO">Colombia</option>
											<option value="KM">Comoros</option>
											<option value="CG">Congo</option>
											<option value="CD">Congo, the Democratic Republic of the</option>
											<option value="CK">Cook Islands</option>
											<option value="CR">Costa Rica</option>
											<option value="CI">Côte d'Ivoire</option>
											<option value="HR">Croatia</option>
											<option value="CU">Cuba</option>
											<option value="CW">Curaçao</option>
											<option value="CY">Cyprus</option>
											<option value="CZ">Czech Republic</option>
											<option value="DK">Denmark</option>
											<option value="DJ">Djibouti</option>
											<option value="DM">Dominica</option>
											<option value="DO">Dominican Republic</option>
											<option value="EC">Ecuador</option>
											<option value="EG">Egypt</option>
											<option value="SV">El Salvador</option>
											<option value="GQ">Equatorial Guinea</option>
											<option value="ER">Eritrea</option>
											<option value="EE">Estonia</option>
											<option value="ET">Ethiopia</option>
											<option value="FK">Falkland Islands (Malvinas)</option>
											<option value="FO">Faroe Islands</option>
											<option value="FJ">Fiji</option>
											<option value="FI">Finland</option>
											<option value="FR">France</option>
											<option value="GF">French Guiana</option>
											<option value="PF">French Polynesia</option>
											<option value="TF">French Southern Territories</option>
											<option value="GA">Gabon</option>
											<option value="GM">Gambia</option>
											<option value="GE">Georgia</option>
											<option value="DE">Germany</option>
											<option value="GH">Ghana</option>
											<option value="GI">Gibraltar</option>
											<option value="GR">Greece</option>
											<option value="GL">Greenland</option>
											<option value="GD">Grenada</option>
											<option value="GP">Guadeloupe</option>
											<option value="GU">Guam</option>
											<option value="GT">Guatemala</option>
											<option value="GG">Guernsey</option>
											<option value="GN">Guinea</option>
											<option value="GW">Guinea-Bissau</option>
											<option value="GY">Guyana</option>
											<option value="HT">Haiti</option>
											<option value="HM">Heard Island and McDonald Islands</option>
											<option value="VA">Holy See (Vatican City State)</option>
											<option value="HN">Honduras</option>
											<option value="HK">Hong Kong</option>
											<option value="HU">Hungary</option>
											<option value="IS">Iceland</option>
											<option value="IN">India</option>
											<option value="ID">Indonesia</option>
											<option value="IR">Iran, Islamic Republic of</option>
											<option value="IQ">Iraq</option>
											<option value="IE">Ireland</option>
											<option value="IM">Isle of Man</option>
											<option value="IL">Israel</option>
											<option value="IT">Italy</option>
											<option value="JM">Jamaica</option>
											<option value="JP">Japan</option>
											<option value="JE">Jersey</option>
											<option value="JO">Jordan</option>
											<option value="KZ">Kazakhstan</option>
											<option value="KE">Kenya</option>
											<option value="KI">Kiribati</option>
											<option value="KP">Korea, Democratic People's Republic of</option>
											<option value="KR">Korea, Republic of</option>
											<option value="KW">Kuwait</option>
											<option value="KG">Kyrgyzstan</option>
											<option value="LA">Lao People's Democratic Republic</option>
											<option value="LV">Latvia</option>
											<option value="LB">Lebanon</option>
											<option value="LS">Lesotho</option>
											<option value="LR">Liberia</option>
											<option value="LY">Libya</option>
											<option value="LI">Liechtenstein</option>
											<option value="LT">Lithuania</option>
											<option value="LU">Luxembourg</option>
											<option value="MO">Macao</option>
											<option value="MK">Macedonia, the former Yugoslav Republic of</option>
											<option value="MG">Madagascar</option>
											<option value="MW">Malawi</option>
											<option value="MY">Malaysia</option>
											<option value="MV">Maldives</option>
											<option value="ML">Mali</option>
											<option value="MT">Malta</option>
											<option value="MH">Marshall Islands</option>
											<option value="MQ">Martinique</option>
											<option value="MR">Mauritania</option>
											<option value="MU">Mauritius</option>
											<option value="YT">Mayotte</option>
											<option value="MX">Mexico</option>
											<option value="FM">Micronesia, Federated States of</option>
											<option value="MD">Moldova, Republic of</option>
											<option value="MC">Monaco</option>
											<option value="MN">Mongolia</option>
											<option value="ME">Montenegro</option>
											<option value="MS">Montserrat</option>
											<option value="MA">Morocco</option>
											<option value="MZ">Mozambique</option>
											<option value="MM">Myanmar</option>
											<option value="NA">Namibia</option>
											<option value="NR">Nauru</option>
											<option value="NP">Nepal</option>
											<option value="NL">Netherlands</option>
											<option value="NC">New Caledonia</option>
											<option value="NZ">New Zealand</option>
											<option value="NI">Nicaragua</option>
											<option value="NE">Niger</option>
											<option value="NG">Nigeria</option>
											<option value="NU">Niue</option>
											<option value="NF">Norfolk Island</option>
											<option value="MP">Northern Mariana Islands</option>
											<option value="NO">Norway</option>
											<option value="OM">Oman</option>
											<option value="PK">Pakistan</option>
											<option value="PW">Palau</option>
											<option value="PS">Palestinian Territory, Occupied</option>
											<option value="PA">Panama</option>
											<option value="PG">Papua New Guinea</option>
											<option value="PY">Paraguay</option>
											<option value="PH">Philippines</option>
											<option value="PN">Pitcairn</option>
											<option value="PL">Poland</option>
											<option value="PT">Portugal</option>
											<option value="PR">Puerto Rico</option>
											<option value="QA">Qatar</option>
											<option value="RE">Réunion</option>
											<option value="RO">Romania</option>
											<option value="RU">Russian Federation</option>
											<option value="RW">Rwanda</option>
											<option value="BL">Saint Barthélemy</option>
											<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
											<option value="KN">Saint Kitts and Nevis</option>
											<option value="LC">Saint Lucia</option>
											<option value="MF">Saint Martin (French part)</option>
											<option value="PM">Saint Pierre and Miquelon</option>
											<option value="VC">Saint Vincent and the Grenadines</option>
											<option value="WS">Samoa</option>
											<option value="SM">San Marino</option>
											<option value="ST">Sao Tome and Principe</option>
											<option value="SA">Saudi Arabia</option>
											<option value="SN">Senegal</option>
											<option value="RS">Serbia</option>
											<option value="SC">Seychelles</option>
											<option value="SL">Sierra Leone</option>
											<option value="SG">Singapore</option>
											<option value="SX">Sint Maarten (Dutch part)</option>
											<option value="SK">Slovakia</option>
											<option value="SI">Slovenia</option>
											<option value="SB">Solomon Islands</option>
											<option value="SO">Somalia</option>
											<option value="ZA">South Africa</option>
											<option value="GS">South Georgia and the South Sandwich Islands</option>
											<option value="SS">South Sudan</option>
											<option value="ES">Spain</option>
											<option value="LK">Sri Lanka</option>
											<option value="SD">Sudan</option>
											<option value="SR">Suriname</option>
											<option value="SJ">Svalbard and Jan Mayen</option>
											<option value="SZ">Swaziland</option>
											<option value="SE">Sweden</option>
											<option value="CH">Switzerland</option>
											<option value="SY">Syrian Arab Republic</option>
											<option value="TW">Taiwan, Province of China</option>
											<option value="TJ">Tajikistan</option>
											<option value="TZ">Tanzania, United Republic of</option>
											<option value="TH">Thailand</option>
											<option value="TL">Timor-Leste</option>
											<option value="TG">Togo</option>
											<option value="TK">Tokelau</option>
											<option value="TO">Tonga</option>
											<option value="TT">Trinidad and Tobago</option>
											<option value="TN">Tunisia</option>
											<option value="TR">Turkey</option>
											<option value="TM">Turkmenistan</option>
											<option value="TC">Turks and Caicos Islands</option>
											<option value="TV">Tuvalu</option>
											<option value="UG">Uganda</option>
											<option value="UA">Ukraine</option>
											<option value="AE">United Arab Emirates</option>
											<option value="GB">United Kingdom</option>
											<option value="US">United States</option>
											<option value="UM">United States Minor Outlying Islands</option>
											<option value="UY">Uruguay</option>
											<option value="UZ">Uzbekistan</option>
											<option value="VU">Vanuatu</option>
											<option value="VE">Venezuela, Bolivarian Republic of</option>
											<option value="VN">Viet Nam</option>
											<option value="VG">Virgin Islands, British</option>
											<option value="VI">Virgin Islands, U.S.</option>
											<option value="WF">Wallis and Futuna</option>
											<option value="EH">Western Sahara</option>
											<option value="YE">Yemen</option>
											<option value="ZM">Zambia</option>
											<option value="ZW">Zimbabwe</option>
										</select>
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
									<div class="form-group">
										<label for="fd_name" >Direccion</label>
										<input type="text" class="form-control" name="direccion" id="fd_name" placeholder="Direccion" data-validation="length" data-validation-length="5-100" required aria-required="true" value="{{request.user.usuarioinformacion.direccion}}">
										<span class="error-label"></span>
										<span class="valid-label"></span>
									</div>
									<input type="hidden" name="editar" value="1" />
									{% csrf_token %}
								</div>
							</div>
						</form>
					</div>
					<div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 300px; background: rgb(187, 187, 187);"></div>
					<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn dark btn-outline">Cerrar</button>
				<button type="button" id="continuar_pago" class="btn green">Continuar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://integ-pago.culqi.com/api/v1/culqi.js"></script>
<script>
	$.validate();
	checkout.codigo_comercio = "imCZUtaYTOnY";

	checkout.informacion_venta = "{{compra.informacion_venta}}";


	{% if compra.informacion_venta %}
	$(document).on('ready', function() {
		//Open CC pay
		$('#btn_pagar').on('click', function(e){
			e.preventDefault();
			checkout.abrir();
		});

		//Checkbox change event
		$('#termsCheck').change(function(){
			if(this.checked){
				$('#btn_pagar').prop("disabled", false);
			}
		});
	});
	{% endif %}
	$("#continuar_pago").on('click', function(e){
		$('#formPago').submit();
	});


	function culqi (checkout) {
		$.post('/panel/pagar/pagado/', { 'respuesta': checkout.respuesta, 'csrfmiddlewaretoken': "{{csrf_token}}" }, function(resp){
			window.respuesta = resp;
			if(resp.codigo_respuesta == 'venta_exitosa')
			{
				$('#btn_pago').hide();
				toastr['success']('', resp.respuesta);
				setTimeout(function(){
					window.location = '/panel';
				}, 5000);
			}else if(resp.codigo_respuesta == 'venta_expirada'){
				if(resp.respuesta == 'true')
				{
					toastr['info']('', 'El formulario de pago ha expirado, por favor intente nuevamente.');
					location.reload();
				}
			}else if(resp.codigo_respuesta == 'checkout_cerrado'){
				if(resp.respuesta == 'true')
				{
					toastr['info']('', 'Usted ha cerrado el formulario de pago, por favor intente nuevamente.');
					location.reload();
				}
			}else{
				toastr['info']('', resp.respuesta);
			}
		});
		{% if compra.informacion_venta %}
		if(checkout.respuesta == 'parametro_invalido')
		{
			window.location.reload();
		}
		{% endif %}


		checkout.cerrar();

	};


	function checkTerms()
	{
		var terms = document.getElementById("termsCheck");
		if(terms.checked)
		{
			document.getElementById("btn_pagar").className = "btn btn-primary";
		}
		else {
			document.getElementById("btn_pagar").className = "btn btn-primary disabled";
		}
	}

	{% if messages %}
	{% for message in messages %}
	toastr['{{message.tags}}']('', '{{message}}');
	{% endfor %}
	{% endif %}

</script>
{% endblock %}
