<style type="text/css">
	.cart_head{
		background-color: #428bca;
		border: 2px solid #428bca;
		color: #fff;
		text-align: center;
		height: 3em;
		border-top-left-radius: 9px !important;
		border-top-right-radius: 9px !important;
		padding-top: 9px;
		font-weight: 400;
		font-size: 14px;
	}
	.cart_body{
		border: 1px solid #428bca;
		border-bottom-left-radius: 9px !important;
		border-bottom-right-radius: 9px !important;
	}
	.cart_body .btn{
		border-bottom-left-radius: 6px !important;
		border-bottom-right-radius: 6px !important;
	}
	.cart_item{
		padding: 15px 7px;
	}
	.padd{
		padding: 15px 7px;
	}
	.cart_item:hover{
		background: #f09524;
		color: white;
	}
	.cart_item:hover>span, .cart_item:hover div{
		color: white;
	}
	.item_name{
		color: black;
	}
	.item_price{
		float: right;
		color: black;
	}
	.item_desc{
		font-size: 12px;
		color: black;
	}
	.close-thik {
		color: #777;
		font: 14px/100% arial, sans-serif;
		position: relative;
		text-decoration: none;
		text-shadow: 0 1px 0 #fff;
		margin-top: -13px;
		float: right;
		display: none;
	}
	.close-thik:after {
		content: '✖'; /* UTF-8 symbol */
	}

</style>
<div class="cart_head">
	Resumen del Pedido
</div>
<div class="cart_body">
	<br />
	{% for item in cart %}
	<div class="cart_item">
		{% if item.producto %}
		<a href="#" data-id="{{item.producto.pk}}" data-lugar="{{item.local.pk}}" class="close-thik"></a>
		<div class="row">
			<div class="col-sm-9 item_name">
				{{item.producto.nombre}} &nbsp;<span style="color: #428bca;">x{{item.cantidad}}</span>
			</div>
			<div class="col-sm-3 item_price">
				${{item.total|floatformat:2}}
			</div>
		</div>
		<span class="item_desc">{{item.producto.descripcion}}</span>
		{% else %}
		<a href="#" data-combo="{{item.combo.pk}}" data-lugar="{{item.local.pk}}" class="close-thik"></a>
		<div class="row">
			<div class="col-sm-9 item_name">
				{{item.combo.nombre}} &nbsp;<span style="color: #428bca;">x{{item.cantidad}}</span>
			</div>
			<div class="col-sm-3 item_price">
				${{item.total|floatformat:2}}
			</div>
		</div>
		<span class="item_desc">{{item.combo.descripcion}}</span>
		{% endif %}
		<br />
		{% if item.local %}
		<span class="item_desc">{{item.local.nombre}}</span>
		{% endif %}
	</div>
	{% endfor %}
	<br />
	<br />
	<div class="row padd">
		<div class="col-sm-8" style="color: red;">
			Subtotal
		</div>
		<div class="col-sm-4" style="color: red;text-align: right;">
			${{subtotal|floatformat:2}}
		</div>
		<div class="col-sm-8" style="color: red;">
			IGV
		</div>
		<div class="col-sm-4" style="color: red;text-align: right;">
			${{igv|floatformat:2}}
		</div>
		<div class="col-sm-8" style="color: red;">
			Total
		</div>
		<div class="col-sm-4" style="color: red;text-align: right;">
			${{total|floatformat:2}}
		</div>
	</div>

	{% if cart %}
	<br />
	<center>
		<a class="btn btn-primary btn-block" href="/panel/pagar/">Continuar</a>
	</center>
	{% endif %}
</div>

<script type="text/javascript">
	window.onload = function(){

		$('.cart_item').mouseenter( function(){
			$(this).children('.close-thik').css('display', 'block');
		} ).mouseleave( function(){
			$(this).children('.close-thik').css('display', 'none');
		} );


		$('.close-thik').on('click', function(e){
			var id_producto = $(this).attr('data-id');
			var lugar = $(this).attr('data-lugar');
			var combo = $(this).attr('data-combo');
			if(id_producto == undefined)
			{
				id_producto = "";
			}
			if(lugar == undefined)
			{
				lugar = "";
			}
			if(combo == undefined)
			{
				combo = "";
			}
			$.post('/carrito/eliminar/', {'producto': id_producto, 'csrfmiddlewaretoken': '{{csrf_token}}', 'combo': combo, 'lugar': lugar }, function(res){
				window.location.reload();
			});
		});
	};
</script>
