{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<title>Wandercoon | {% block titulo %}{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta charset="utf-8">

	<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/theme-default.min.css"
	rel="stylesheet" type="text/css" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="{% static 'metronic/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/fullcalendar/fullcalendar.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css">
	<!-- END PAGE LEVEL SCRIPTS -->
	<link href="{% static 'metronic/admin/pages/css/tasks.css' %}" rel="stylesheet" type="text/css"/>
	<!-- BEGIN THEME STYLES -->
	<link href="{% static 'metronic/global/css/components.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/admin/layout4/css/layout.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/admin/layout4/css/themes/light.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="{% static 'metronic/admin/layout4/css/custom.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'metronic/global/plugins/bootstrap-toastr/toastr.min.css' %}">
	<!-- END THEME STYLES -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>

	{% block header %}{% endblock %}
	<style>
		.pink {
			text-align: justify;
		}
		.pink a:hover {
			background-color: #c23c4c !important;
		}
		.white {
			font-size: 14px;
			font-weight: 400;
			color: white !important;
		}
		.button {
			float: right;
			position: relative;
			width: 210px;
			height: 58px;
			background-color: #4CAF50; /* Green */
			border: none;
			border-radius: 18px !important;
			color: white;
			padding-bottom: 4px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 20pt;
			margin: -74px 388px;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
			cursor: pointer;
		}
		.blue {
			background-color: #00577A;
			color: white;
		}
		.blue:hover {
			background-color: #015f8e;
			color: white;
		}
		.no-effects, a.no-effects:link,  a.no-effects:visited,  a.no-effects:hover, a:active {
			text-decoration: none;
			color: white;
		}
	</style>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">

	<!-- BEGIN HEADER -->
	<div class="page-header navbar navbar-fixed-top">
		<!-- BEGIN HEADER INNER -->
		<div class="page-header-inner">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="/panel">
					<img src="{% static 'images/racoon-pin.png' %}" alt="logo" class="logo-default" style="width: 70px; margin-top: 1px;"/>
				</a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
			</a>
			<!-- END RESPONSIVE MENU TOGGLER -->

			<!-- BEGIN PAGE TOP -->
			<div class="page-top">

				<!-- BEGIN TOP NAVIGATION MENU -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li class="separator hide">
						</li>
						<!-- BEGIN NOTIFICATION DROPDOWN -->
						<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
						<li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<i class="icon-bell"></i>
								<span class="badge badge-success"> 0 </span>
							</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3><span class="bold">0</span> notificaciones</h3>

								</li>
								<li>
									<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
									<!--<li>
										<a href="javascript:;">
										<span class="time">just now</span>
										<span class="details">
										<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
										</span>
										New user registered. </span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
										<span class="time">3 mins</span>
										<span class="details">
										<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
										</span>
										Server #12 overloaded. </span>
										</a>
									</li>
									<li>
										<a href="javascript:;">
										<span class="time">10 mins</span>
										<span class="details">
										<span class="label label-sm label-icon label-warning">
										<i class="fa fa-bell-o"></i>
										</span>
										Server #2 not responding. </span>
										</a>
									</li>-->
								</ul>
							</li>
						</ul>
					</li>
					<!-- END NOTIFICATION DROPDOWN -->
					<li class="separator hide">
					</li>
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							{% if not request.user.usuarioinformacion.empresa %}
							<span class="username username-hide-on-mobile">{{request.user.username}}</span>
							{% else %}
							<span class="username username-hide-on-mobile">{{request.user.usuarioinformacion.empresa.nombre}}</span>
							{% endif %}
							<!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
							{% if request.user.usuarioinformacion.foto %}
							<img alt="" class="img-rounded" src="{{request.user.usuarioinformacion.foto.url}}"/>
							{% else %}
							<img alt="" class="img-circle" src="http://dailypuzzle.com/assets/images/avatar.png"/>
							{% endif %}
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="/panel/perfil/">
									<i class="icon-user"></i> Mi Perfil
								</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="/logout">
									<i class="icon-key"></i> Cerrar Sesion </a>
								</li>
							</ul>
						</li>
						<!-- END USER LOGIN DROPDOWN -->

					</ul>
				</div>
				<!-- END TOP NAVIGATION MENU -->
			</div>
			<!-- END PAGE TOP -->
		</div>
		<!-- END HEADER INNER -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix">
	</div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<div class="page-sidebar navbar-collapse collapse">
				<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<!--
				<li class="start active ">
					<a href="/panel">
					<i class="icon-home"></i>
					<span class="title">Inicio</span>
					</a>
				</li>
			-->
			<li class="pink">
				<a href="/panel/mis-locales">
					<i class="icon-pointer"></i>
					<span class="white">Mis Locales</span>
				</a>
			</li>
				<!--
				<li>
					<a href="javascript:;">
					<i class="fa fa-bookmark-o"></i>
					<span class="title">Promociones</span>
					<span class="arrow "></span>
					</a>
				</li>
			-->
			<li class="pink">
				<a href="/panel/mis-compras">
					<i class="fa fa-gift" style="margin-left: 2px;"></i>
					<span class="white">&nbsp;Mis Compras</span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>
<!-- END SIDEBAR -->

<div class="page-content-wrapper">
	<div class="page-content">
		{% block contenido %}{% endblock %}
	</div>

</div>
</div>

<div class="page-footer" style="margin-top: 0;    min-height: 15vh; background-color: #f09524; position: relative;">


	<a class="" href="mailto:info@wandercoon.com" target="_top">
		<!-- <center>
			<img class="img-responsive footerimg" src="{% static 'web/images/footer.png' %}" style="height:91px !important;">
		</center> -->
	</a>


</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
</div>

	<!--[if lt IE 9]>
		<script src="{% static 'metronic/global/plugins/respond.min.js' %}"></script>
		<script src="{% static 'metronic/global/plugins/excanvas.min.js' %}"></script>
		<![endif]-->
		<script src="{% static 'metronic/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
		<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="{% static 'metronic/global/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>
		<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
		<script src="{% static 'metronic/global/plugins/morris/morris.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/morris/raphael-min.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="{% static 'metronic/global/scripts/metronic.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/admin/layout4/scripts/layout.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/admin/layout2/scripts/quick-sidebar.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/admin/layout4/scripts/demo.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/admin/pages/scripts/index3.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/admin/pages/scripts/tasks.js' %}" type="text/javascript"></script>
		<script src="{% static 'metronic/global/plugins/bootstrap-toastr/toastr.min.js' %}" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
		<!-- END PAGE LEVEL SCRIPTS -->
		<script>
			toastr.options = {
				"closeButton": true,
				"debug": false,
				"positionClass": "toast-top-right",
				"onclick": null,
				"showDuration": "1000",
				"hideDuration": "1000",
				"timeOut": "10000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
	/*
		jQuery(document).ready(function() {
			Metronic.init(); // init metronic core componets
			Layout.init(); // init layout
			Demo.init(); // init demo features
			QuickSidebar.init(); // init quick sidebar
			Index.init(); // init index page
			Tasks.initDashboardWidget(); // init tash dashboard widget
		});
		*/
	</script>
	<!-- END JAVASCRIPTS -->
	{% block scripts %}{% endblock %}
</body>
</html>
