{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8"/>
	<title>Wandercoon | Login</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta charset="utf-8">

	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="{% static 'metronic/admin/pages/css/login.css' %}" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL SCRIPTS -->
	<!-- BEGIN THEME STYLES -->
	<link href="{% static 'metronic/global/css/components-rounded.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/global/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/admin/layout/css/layout.css' %}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'metronic/admin/layout/css/themes/default.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="{% static 'metronic/admin/layout/css/custom.css' %}" rel="stylesheet" type="text/css"/>
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="{% static 'images/racoon-pin.png' %}"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler">
	</div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="./">
			<img src="{% static 'images/racoon-pin.png' %}" width="150" alt=""/>
		</a>
	</div>
	<!-- END LOGO -->
	<div class="container" style="width: 30%;">
	{% if messages %}
		<div class="alert alert-dismissible alert-{% if messages.level == 40 %}danger{% else %}success{% endif %}">
			<button type="button" class="close" data-dismiss="alert">&close;</button>
			<ul class="messages">
			    {% for message in messages %}
			    <li>{{ message }}</li>
			    {% endfor %}
			</ul>
		</div>
	{% endif %}
	</div>
	<!-- BEGIN LOGIN -->
	<div class="content">


		<!-- BEGIN LOGIN FORM -->
		<form class="login-form" method="post">
			{% csrf_token %}
			<input type="hidden" name="accion" value="entrar" />
			<h3 class="form-title">Ingreso para empresas</h3>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span>Ingresa un usuario y contraseña. </span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Usuario</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Usuario" name="usuario" required/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
				<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Contraseña" name="contrasena" required/>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-success uppercase">Entrar</button>

				<a href="javascript:;" id="forget-password" class="forget-password">Olvidaste Tu Contraseña?</a>
			</div>
			<!--
				<div class="login-options">
					<h4>Or login with</h4>
					<ul class="social-icons">
						<li>
							<a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
						</li>
						<li>
							<a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
						</li>
						<li>
							<a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
						</li>
						<li>
							<a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
						</li>
					</ul>
				</div>
			-->
			<div class="create-account">
				<p>
					<a href="/registro/empresa" class="uppercase">Crear Cuenta</a>
				</p>
			</div>
		</form>
		<!-- END LOGIN FORM -->
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" method="post">
			{% csrf_token %}
			<input type="hidden" name="accion" value="restaurar" />
			<h3>Olvidaste Tu Contraseña ?</h3>
			<p>
				Ingresa tu correo abajo para restaurar tu contraseña.
			</p>
			<div class="form-group">
				<input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Correo" name="email" required/>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn btn-default">Regresar</button>
				<button type="submit" class="btn btn-success uppercase pull-right">Restaurar</button>
			</div>
		</form>
		<!-- END FORGOT PASSWORD FORM -->
		<!-- BEGIN REGISTRATION FORM -->
		<form class="register-form" action="index.html" method="post">
			{% csrf_token %}
			<input type="hidden" name="accion" value="registrar" />
			<h3>Registrarse</h3>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Nombre</label>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Nombre" name="nombre" required/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Apellido</label>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Apellido" name="apellido" required/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Telefono</label>
				<input class="form-control placeholder-no-fix" type="tel" autocomplete="off" placeholder="Telefono" name="telefono" required/>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Correo</label>
				<input class="form-control placeholder-no-fix" type="email" placeholder="Correo" name="email" required/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Usuario</label>
				<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Usuario" name="usuario" required/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Contraseña" name="contrasena" required/>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Repetir Contraseña</label>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Repetir Contraseña" name="re_contrasena" required/>
			</div>
			<div class="form-group margin-top-20 margin-bottom-20">
				<label class="check">
					<input type="checkbox" name="tnc"/> Acepto los <a href="javascript:;">
					Terminos de Servicio </a>
					& <a href="javascript:;">
					Politicas de Provacidad </a>
				</label>
				<div id="register_tnc_error">
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="register-back-btn" class="btn btn-default">Regresar</button>
				<button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Registrarse</button>
			</div>
		</form>
		<!-- END REGISTRATION FORM -->
	</div>
	<div class="copyright">
		2016 © Wandercoon.
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
		<script src="{% static 'metronic/global/plugins/respond.min.js' %}"></script>
		<script src="{% static 'metronic/global/plugins/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'metronic/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="{% static 'metronic/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="{% static 'metronic/global/scripts/metronic.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/admin/layout/scripts/layout.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/admin/layout/scripts/demo.js' %}" type="text/javascript"></script>
	<script src="{% static 'metronic/admin/pages/scripts/login.js' %}" type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		jQuery(document).ready(function() {
			Metronic.init(); // init metronic core components
			Layout.init(); // init current layout
			Login.init();
			Demo.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
