<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<style type="text/css">
		body{
			color:#575756;
			background: #EDEEF0;
		}
		.panel-default{
			border: 3px solid #007194;
		}
	</style>
</head>
<body>
	<p>&nbsp;</p>
	<div class="container" style="background: #EDEEF0;">
		<div class="row">
			<div class="col-sm-4" style="width: 30%;display: inline-block;">
				<img src="http://wandercoon.com/static/web/images/email_register.png" style="width: 100%;">
			</div>
			<div class="col-sm-8" style="width: 60%;display: inline-block;margin-left: 4%;">
				<div class="alert alert-danger" role="alert" style="color: white;font-weight: bold;background: #E1354B;font-size: 1.5em;">
					<center>
						¡Gracias por inscribirte en Wandercoon!
					</center>
				</div>
				<br /><br />
				<div>
					Estamos listos para ayudarte a expandir tu alcance digital y recomendarte a los turistas que visitan la ciudad. Tu cuenta ya está activada. Estos son tus datos de usuario:
				</div>
				<br />
				<div class="panel panel-default">
					<div class="panel-body">
						Nombre de Usuario: {{username}}<br />
						Contraseña: {{contrasena}}<br />
					</div>
				</div>
				<br />
				<div>
					Puedes ingresar a tu cuenta desde este link: <a href="http://wandercoon.com/panel/">http://wandercoon.com/panel/</a>
				</div>
				<br />
				<div>
					Si tienes alguna duda sobre el servicio, por favor, escríbenos a <a href="mailto:info@wandercoon.com">info@wandercoon.com</a> y te ayudaremos en lo que necesites.
					<br />
					Trabajando juntos, crecemos más. ¡Ten un gran día!
				</div>
				<br />
				<center style="color: red; font-weight: bold;">
					Equipo Wandercoon
				</center>
			</div>
		</div>
	</div>
</body>
</html>